# Ignore all logfiles and tempfiles.
/log/*.log
/tmp
/.idea
public/assets/*
public/system/*
public/images/*
/.vagrant
/Vagrantfile
/.ruby-version

.postgresql.conf
/test/fixtures/credit_cards.yml
/test/fixtures/news_feeds.yml
/test/unit/credit_card_test.rb
/test/unit/news_feed_test.rb

# Ignore bundler config
/.bundle

# Ignore the default SQLite database.
/db/*.sqlite3
/id_rsa
leadpump.sql

#Ignore schema.rb
/db/schema.rb



