# Ignore all logfiles and tempfiles.
/log/*.log
/tmp
/.idea
public/assets/*
public/system/*
public/images/*
/.vagrant
/Vagrantfile
/.ruby-version

.postgresql.conf
/test

app/views/company/_test.html.erb
app/views/company/test.html.erb
postgresql.conf


# Ignore bundler config
/.bundle

# Ignore the default SQLite database.
/db/*.sqlite3
/id_rsa
leadpump.sql

#Ignore schema.rb
/db/schema.rb



