<div class="span4">    
    <div class="taskAsgn">
        <h2 class="heading" style="border-radius:5px;">Create Company</h2>
	        <p class="error" style="color:red;"></p>
	        <p style="margin:0;"> <label>Name: </label>
                <%= text_field_tag :cmpyname %>
            </p>
            <p style="margin:0;"> <label>Email: </label>
                <%= text_field_tag :cmpyemail %>
            </p>
            <p class="createCmpy"> 
                <input type="button" name="submitCmpy" value="Create" class="btn yellow">
            </p>
    </div>        
</div>