<div class="span4">    
    <div class="taskAsgn">
        <h2 class="heading" style="border-radius:5px;">Create User</h2>
	        <p class="error" style="color:red;"></p>
	        <% if @companies.present? %>
			    <%=select_tag "users", options_from_collection_for_select(@companies, "id", "name"),:prompt => "Select Company",:style=>"width:200px;margin:10px 0 10px 0;" %>
			<%end%>

	        <p style="margin:0;"> <label>Name: </label>
                <%= text_field_tag :name %>
            </p>
            <p style="margin:0;"> <label>Email: </label>
                <%= text_field_tag :email %>
            </p>
            <p class="createUser"> 
                <input type="button" name="submitApoint" value="Create" class="btn yellow">
            </p>
    </div>        
</div>