 <table class="table table-striped">
    <thead>
        <tr><td>Name</td><td>Email</td><td>User Type</td><td>Company</td><td>Account Type</td><td>Status</td><td>Signup date</td><td>Action</td></tr>
    </thead>
    <%=render "userContentRowInAdmin"%>
</table>
<% if @users.count > 1 %>
	<%= will_paginate @users, :previous_label=>"Previous", :next_label=>"Next", :style=>"float:right;" %>
<% end  %>