<div class="tab-content">
    <div class="tab-pane <%=params[:stats] == 'invite' ? '' : 'active'%>" id="vip_stats">
      <div class="row-fluid">
        <div class="span4">
          <input type="text" placeholder="Search Account & Associate" id="vipleadlistadmin" class="input-large" autocomplete="off">
        </div>
        <div class="pull-right">
          <input type="text" id = "vip_from_date" class="filter-date input-medium" placeholder= "From Date" >
          <input type="text" id = "vip_to_date" class="filter-date input-medium" placeholder= "To Date">
        </div>
      </div>
      <span id="filter_vip">
        <%= render "vipstats" %>
      </span>
    </div>
    <div class="tab-pane <%=params[:stats] == 'invite' ? 'active' : ''%>" id="invite_stats">
      <div class="row-fluid">
        <div class="span4">
          <input type="text" placeholder="Search by Source" id="invitesearch" class="input-large" autocomplete="off">
        </div>
        <div class="pull-right">
          <input type="text" id = "invite_from_date" class="filter-date input-medium" placeholder= "From Date" >
          <input type="text" id = "invite_to_date" class="filter-date input-medium" placeholder= "To Date">
        </div>
      </div>
      <span id="filter_invite">
        <%= render "allinvites" %>
      </span>
    </div>
</div>

