<% if @users.present? %>
	<% @users.each do |user| %>
		<tbody>
			<%if user.present?%>
			<%=render "userrow", :user=>user%>
			<%end%>
		</tbody>
	<% end %>
<% else %>
	 <tr>
		<td colspan="5"> No record found. </td>
	 </tr>
<% end %>
