<% if @users.present? %>
	<% @users.each do |user| %>
		<tbody>
			<tr data-id="<%= user.id %>"> <td><%= user.name.humanize %></td> 
				<td><%=user.subscription.present? ? user.subscription.plan_per_user_range.plan.name : '-'%>
				</td>
				<td>  Active  </td>
				<td> <%= link_to "Delete", @user, :confirm => "Are you sure you want to delete?", :method => :delete, :class => "user_delete" %> </td>
			</tr>
		</tbody>
	<% end %>
<% else %>
	 <tr>
		<td colspan="4"> No record found. </td>
	 </tr>
<% end %>