<div class="container">
    <div class="row-fluid">
    <h5> <%= link_to "Manage User Accounts", admin_user_path %> </h5>
    <h5> <%= link_to "Manage Payments", admin_payment_path %> </h5>
    <h5> <%= link_to "Manage Statistics", admin_statistic_path %> </h5>
    <h5> <%= link_to "Manage Plans and Prices", admin_plan_path %> </h5>
<h5><link_to "Manage Online Mall", onlinemall_index_path %> </h5>
</div></div>
