<div class="pre_formated_email social-twit hide">
    <div class="span4">
        <h3>Share this invitations on twitter with one simple click</h3>
        <p class="text-center"><img src="/assets/twitter-icon.png"/></a></p>
    </div>
    <div class="span4">
        <h3>Share on Twitter</h3>
        <p>Share this message with your friends on Twitter. The following tweet will be posted to your twitter stream.</p>
        <form class="form">
            <textarea>I just joined "Your gym name here", here's a free 7-day pass for you.Come join me!
            </textarea>
            <a class="btn yellow" href="#">Tweet</a>
        </form>
    </div>
</div>