<!-- 

<div class="pre_formated_email social-fb hide">
    <div class="span4">
        <h3>Share this invitations on Facebook with one simple click</h3>
        <p class="text-center"><img src="/assets/facebook-icon.png"/></a></p>
    </div>
    <div class="span4">
        <h3>Share on Facebook</h3>
        <p>Share this message with your friends on Facebook. The following invitation will be posted to your Facebook timeline.</p>
        <form class="form">
            <div class="twitter_div"> <%=current_user.fetchFacebookMessage.html_safe %> </div>
           <a class="btn yellow fbfetchfreinds" href="javascript:void(0)">Share on facebook</a>
                       
        </form>
    </div>
</div> -->

<div class="vip_mb social-fb hide">
    <h3 class="mb0">Share on Facebook</h3>
    <p>Share this message with your friends on Facebook. The following invitation will be posted to your facebook timeline.</p>
    <div class="follow_col">
      <div class="wdt_1">
        <div class="fol_box">
          <div class="fb_icon"><img src="/assets/facebook-icon.png" width="100" height="100" alt="fb_icon1" /></div>
          <%=current_user.fetchFacebookMessage.html_safe %>
        </div>
      </div>
      <div class="post_btn">
        <a class="fbfetchfreinds" href="javascript:void(0)">Post to your wall</a>
      </div>
    </div>
</div>
