

<div class="pre_formated_email social-twit hide">
    <div class="span4">
        <h3>Share this invitations on twitter with one simple click</h3>
        <p class="text-center"><img src="/assets/twitter-icon.png"/></a></p>
    </div>
    <div class="span4">
        <h3>Share on Twitter</h3>
        <p>Share this message with your friends on Twitter. The following tweet will be posted to your twitter stream.</p>
        <form class="form">
         <textarea id="social_invite"></textarea>
            <div id="share_text" style="display:none;"> </div>   
            <div id="new-button"> </div> 
           <a href="http://twitter.com/share" class="twitter-share-button" data-text="" data-count="none">Tweet</a>

        </form>
    </div>
</div>
<script>
   $.getScript('https://platform.twitter.com/widgets.js', function(){
        twttr.widgets.load();
    }); 
</script>
