<div class="pre_formated_email social-yahoo hide">
    <div class="span4">
        <h3>Share this invitations on Yahoo with one simple click</h3>
        <p class="text-center"><img src="/assets/yahoo-icon.jpg"/></a></p>
    </div>
    <div class="span4">
        <h3>Share on Yahoo</h3>
        <p>Share this message with your friends on Yahoo. The following Message will be Send to your Yahoo Friends.</p>
        <form class="form">
            <p><strong>Subject:</strong> <%=current_user.fetchgmailsubject%> to you</p>
            <div class="email_msg">
                <p><%= current_user.fetchEmailMessage %></p> 
            </div>
            <a href="/contacts/yahoo" class="btn yellow">Yahoo</a>
        </form>
    </div>
</div>