<div class="common hide">
<div class="social_options">
    <ul>
        <li name="social-email" class="e-m">
            <%=link_to "Send a pre-formatted e-mail…", "javascript:void(0)", :class=>"email_icon"%>
        </li>
        <li name="social-yahoo" class="e-m">
            <%=link_to "Yahoo it…", "javascript:void(0)", :class=>"yahoo_icon"%>
        </li>
    </ul>
</div>

<%=render "socialInviterYahoo"%>
<%=render "socialInviterEmail"%>
</div>