

<div class="pre_formated_email social-fb hide">
    <div class="span4">
        <h3>Share this invitations on Facebook with one simple click</h3>
        <p class="text-center"><img src="/assets/facebook-icon.png"/></a></p>
    </div>
    <div class="span4">
        <h3>Share on Facebook</h3>
        <p>Share this message with your friends on Facebook. The following invitation will be posted to your Facebook timeline.</p>
        <form class="form">
            <div class="twitter_div"> <%=current_user.fetchFacebookMessage.html_safe %> </div>
           <a class="btn yellow fbfetchfreinds" href="javascript:void(0)">Share on facebook</a>
                       
        </form>
    </div>
</div>