<!-- <div class="common hide">
<div class="social_options">
    <ul>
        <li name="social-email" class="e-m">
            <%=link_to "Send a pre-formatted e-mail…", "javascript:void(0)", :class=>"email_icon"%>
        </li>
        <li name="social-yahoo" class="e-m">
            <%=link_to "Yahoo it…", "javascript:void(0)", :class=>"yahoo_icon"%>
        </li>
    </ul>
</div>

	<%#=render "socialInviterYahoo"%>
	<%#=render "socialInviterEmail"%>
</div> -->



<div class="vip_mb social-email hide">
    <h3 class="mb0">SHARE BY EMAIL</h3>
    <p>Share this message with your friends by email. The following invitation will be emailed to your selected friends.</p>
    <div class="follow_col">
      <div class="wdt_1">
        <div class="fol_box">
          <div class="fb_icon"><img src="/assets/mail-icon.png" width="100" height="100" alt="fb_icon1" /></div>
          <%=current_user.fetchEmailMessage.html_safe %>
        </div>
      </div>
      <div class="post_btn">
        <a class="email_btn" href="javascript:void(0)">Email to Friends</a>
      </div>
    </div>
</div>