<div class="pre_formated_email social-yahoo hide">
    <div class="span4">
        <h3>Share this invitations on Yahoo with one simple click</h3>
        <p class="text-center"><img src="/assets/yahoo-icon.jpg"/></a></p>
    </div>
    <div class="span4">
        <h3>Share on Yahoo</h3>
        <p>Share this message with your friends on Yahoo. The following tweet will be posted to your Yahoo stream.</p>
        <form class="form">
            <textarea disabled="disabled">
               <%#=current_user.fetchFacebookMessage%>
            </textarea>
            <a href="/contacts/yahoo">Yahoo</a>
        </form>
    </div>
</div>