
<div class="container">
    <div class="row-fluid">
        <div class="span12">
            <div class="" style="text-align:center;">
            <%if @mall.present?%>
                <div class="logo_con" style="width:auto;float:none;">
                    <h3><%=@mall.title%></h2>
                    <%if @mall.mallpic.present?%>
                        <%= image_tag @mall.mallpic.last.avatar.url(), :style=>"height:250px;width:50%"%>
                    <%else%>
                        <img src="/assets/not-found.png" style="height:250px;width:50%">
                    <%end%>
                    <div class="action_btn">
                        <%=link_to download_path(mall_id: @mall.id, format: 'pdf') ,:class=>"btn yellow pull-left" do%>   
                        <i class="icon-download" ></i>
                        Download
                        <%end %>
                        <%=link_to "javascript:void(0)" ,:class=>"btn yellow pull-left", :onclick=>"window.print();return false" do%>   
                        <i class="icon-print" ></i>
                        Print
                        <%end %>
                    </div>
                    <div class="clear"></div>
                </div>
            <%end%>
            </div>
        </div>
    </div>
</div>


