
<div class="container">
    <div class="row-fluid">
        <div class="span12">
            <div class="logo_listing">
            <%if @mall.present?%>
                <div class="logo_con" style="margin:0 15px 15px 40%;width:auto">
                    <h2><%=@mall.title%></h2>
                    <%if @mall.mallpic.present?%>
                        <%= image_tag @mall.mallpic.last.avatar.url(:medium) %>
                    <%else%>
                    <img src="/assets/company-logo.png">
                    <%end%>
                    <div class="action_btn">
                        <%=link_to download_path(mall_id: @mall.id, format: 'pdf') ,:class=>"btn yellow pull-left" do%>   
                        <i class="icon-download" ></i>
                        Download
                        <%end %>
                        <%=link_to "javascript:void(0)" ,:class=>"btn yellow pull-left", :onclick=>"window.print();return false" do%>   
                        <i class="icon-print" ></i>
                        Print
                        <%end %>
                    </div>
                </div>
            <%end%>
            </div>
        </div>
    </div>
</div>


