
<div class="container wrapper">
<div class="row-fluid">
    <div class="span4">
        <%if @mall.present?%>
				<div style="float:left;margin:20px;width:100px;height:auto;cursor:pointer" class="viewmallitem" id="mall_<%=@mall.id%>">
					<%if @mall.mallpic.present?%>
				    	<%= image_tag @mall.mallpic.last.avatar.url(:medium), :class=>"img-polaroid", :style=>"width:100%;height:suto;" %>
				    <%else%>
				    	<img src="/assets/company-logo.png" class="img-polaroid">
			    	<%end%>
			    	<span style="float:left;margin:10px">
			    		<%=@mall.title%>
			    	</span>
			    	<span style="float:left;margin:10px;cursor:pointer" onclick="window.print();return false">
						Print
					</span>
					<span style="float:left;margin:10px;cursor:pointer">
						<%=link_to "Download", download_path(format: 'pdf') %>
					</span>
				</div>
		<%end%>
    </div>
</div>
</div>

