
<%if @ref.present? && ((@source=="fb" || @source=="twitter") || (@gmailcontact.present? && !@gmailcontact.opt_in?))%>
    <div id="showErrors"></div>
    <%if @landpage.present? && @landpage.temp_name == "Guest pass card"%>
        <%=render "common_templates/land_page/land_temp2"%>
    <%else%>
        <%=render "common_templates/land_page/land_temp1"%>
    <%end%>
<%else%>
    <span style="font-size:25px;right:25%;top:200px;position:fixed;">You are requesting with wrong link. Please try with another link.</span>
<%end%>