
<div class="container">
    <div class="row-fluid">
        <div class="span12">
            <div class="logo_listing">
            <%if @mall.present?%>
                <div class="logo_con" style="margin:0 15px 15px 40%;width:auto">
                    <h2><%=@mall.title%></h2>
                    <%if @mall.mallpic.present?%>
                        <%= image_tag @mall.mallpic.last.avatar.url() %>
                    <%else%>
                    <img src="/assets/company-logo.png">
                    <%end%>
                </div>
            <%end%>
            </div>
        </div>
    </div>
</div>


