
<div class="container">
    <div class="row-fluid">
        <div class="span12">
            <div class="logo_listing">
            <%if @mall.present?%>
                <div class="logo_con">
                    <h2><%=@mall.title%></h2>
                    <%if @mall.mallpic.present?%>
                        <%= wicked_pdf_image_tag_for_public @mall.mallpic.last.avatar.url(:meduim) %>
                    <%else%>
                        <%= wicked_pdf_image_tag('not-found.png', options = { :width => 300, :height => 200}) %>
                    <%end%>
                </div>
                <div style="font-size:30px;">
                    <%=@mall.description%>
                </div>
            <%end%>
            </div>
        </div>
    </div>
</div>


