
<div class="container">
    <div class="row-fluid">
        <div class="span12">
            <div class="logo_listing">
            <%if @mall.present?%>
                <div class="logo_con" style="text-align:center">
                    <h2><%=@mall.title%></h2>
                    <%if @mall.mallpic.present?%>
                        <%= wicked_pdf_image_tag_for_public(@mall.mallpic.last.avatar.url(), options = { :style=>"max-height:300px;max-width:30%"}) %>
                    <%else%>
                        <%= wicked_pdf_image_tag('not-found.png', options = { :style=>"max-height:300px;max-width:30%"}) %>
                    <%end%>
                </div>
                <div style="font-size:30px;">
                    <%=@mall.description.html_safe%>
                </div>
            <%end%>
            </div>
        </div>
    </div>
</div>


