
<div class="container wrapper">
    <div class="row-fluid">
        <div class="span12">
           <div class="logo_listing m_item_main">
            <%if @companymallitem.present?%>
            <h2 style="text-align:center;">Download or Print Coupons here for free trial.</h2>
            <%@companymallitem.each do|mall|%>
                <div class="logo_con ">
                    <h2><%=mall.title%></h2>
                    <%if mall.mallpic.present?%>
                    <%= image_tag mall.mallpic.last.avatar.url(:medium) %>
                    <%else%>
                    <img src="/assets/company-logo.png">
                    <%end%>
                    <div class="action_btn viewmallitem" id="view_<%=mall.id%>">
                        <%=link_to "javascript:void(0)" ,:class=>"btn yellow pull-left" do%>   
                        <i class="icon-download" ></i>
                        Download or Print
                        <%end %>
                    </div>
                </div>
            <%end%>
            <%else%>
                <h2 style="text-align:center;">Sorry! No items presents.</h2>
            <%end%>
            </div>
        </div>
    </div>
</div>

