<div class="container">
	<%#=render "home/company_vip_logo"%>
	<div class="row-fluid">
		<div class="span12">
			<div class="mt20">
				<div class="row-fluid">
					<span class="span12 vip">
						<%=render "common_templates/vip_steps"%>
						<span class="vipContainer">
							<%if (@emailAuth.present? || !current_user.fetchCompany.vipon)%>
					        	<%=render "socialInviteStep2"%>
					       <%else%>
					        	<%=render "form"%>
					       <%end%>
					   </span>
						</span>
					</span>
				</div>
			</div>
		</div>

	</div>
</div>

<%=render "common_templates/popupContainer"%>

