<table class="table table-striped">
    <thead>
        <tr><td>Source</td><td>Date Sent</td><td>Location</td><td>Associate</td><td>Email Sent</td><td>Email Opened</td><td>Conversion page views</td><td>Lead Conversions</td></tr>
    </thead>
    <tbody>
        <%=render "statcontentrow"%>
    </tbody>
</table>