<script type="text/javascript" language="javascript">
    $(function() {
        $('#foo5').carouFredSel({
            width: '100%',
            scroll: 1
        });

    });
</script>


<style type="text/css" media="all">

</style>
<div class="container wrapper">
    <div class="row-fluid">
        <div class="span4">
            <div class="graph_con">
                <canvas id="canvas" height="450" width="380"></canvas>
                <script>
                    data = "<%=@datelist%>"
                    data = data.split(",")
                    var lineChartData = {
                        labels : data,
                        datasets : [
                            {
                                fillColor : "rgba(220,220,220,0.5)",
                                strokeColor : "rgba(220,220,220,1)",
                                pointColor : "rgba(220,220,220,1)",
                                pointStrokeColor : "#fff",
                                data : [10,0,30,0,50,0,0,80,0,0,0,0,20,30,10,23,44,22,5,6,2,1,0,0,0,0,0,0,0,44]
                            },
                            {
                                fillColor : "rgba(151,187,205,0.5)",
                                strokeColor : "rgba(151,187,205,1)",
                                pointColor : "rgba(151,187,205,1)",
                                pointStrokeColor : "#fff",
                                data : [30,10,0,20,40,0,0,10,0,05,0,0,20,30,10,23,44,22,5,6,2,10,0,0,0,0,0,0,0,0]
                            },
                            {
                                fillColor : "rgba(255, 174, 0)",
                                strokeColor : "rgba(255, 174, 0)",
                                pointColor : "rgba(255, 174, 0)",
                                pointStrokeColor : "#fff",
                                data : [10,0,20,0,0,50,0,0,06,0,30,07,20,30,10,23,44,22,5,6,2,1,0,0,0,0,0,0,0,4]
                            }
                        ]

                    }

                    var myLine = new Chart(document.getElementById("canvas").getContext("2d")).Line(lineChartData);

                </script>
            </div>
        </div>
        <div class="span8">
            <p>
                <%= link_to "Export as comma Separated (Excel) File", csvdownload_path(format: "csv"),:class=>"btn yellow btn-small" %>
            </p>
            <div class="alert">
                <button data-dismiss="alert" class="close closealert    " type="button">×</button>
                <p>Compaign Statistics Listed below are the raw statistics for your campaigns. Would you like to filter this list by data ranges or other mechanisms in the future <a class="link" href="#">Yes</a> ?  </p>
            </div>
            <div class="row-fluid">
                <div class="span5 pull-left optFilter">
                    <form class="form"><span>Show</span><select><option>10</option><option>20</option><option>50</option></select>
                        <span>entries</span></form>
                </div>
                <!-- <div class="span4 pull-right optFilter">
                    <form class="form text-right"><span>Search</span><input type="search" id="statsearch" placeholder="Search" class="input-medium"></form>
                </div> -->
            </div>
            <div class="border statcontent">
                <%=render "statContent"%>
            </div>
            <div class="clear"></div>
        </div>
    </div>
</div>
