<div class="span4 margin_width">    
    <div>
        <h2 class="heading" style="border-radius:5px;">Assign Lead</h2>
        <% if @users.present? %>
	        <%=hidden_field_tag :leadid, @lead.id%>
	        <%=select_tag "users", options_from_collection_for_select(@users, "id", "name"),:prompt => "Select User",:class=>"leadAssignSelect" %>
        <%else%>
        	<span style="margin-top:40px;">No User Found For Assign.</span>
        <%end%>
    </div>        
</div>

