<div class="container">
  <p class="flashes successMsg"></p>
   <div class="row-fluid">
   	<span class="formfields">
       <%= render 'form' %>
   </span>
       <%= render 'leadlist' %>
   </div>
</div>