<div class="container">
    	<!-- <div class="row-fluid">
        	<ul class="dashboardIcons">
            	<li><a href="#"><img src="img/icon.png"/><span>Dashboard</span></a></li>
                <li><a href="#"><img src="img/icon.png"/><span>Leads</span></a></li>
                <li><a href="#"><img src="img/icon.png"/><span>Appointments</span></a></li>
                <li><a href="#"><img src="img/icon.png"/><span>Sales Data</span></a></li>
                <li><a href="#"><img src="img/icon.png"/><span>Social Inviter</span></a></li>
                <li><a href="#"><img src="img/icon.png"/><span>Opt in leads</span></a></li>
                <li><a href="#"><img src="img/icon.png"/><span>VIP Leads</span></a></li>
                <li><a href="#"><img src="img/icon.png"/><span>Statistics</span></a></li>
                <li><a href="#"><img src="img/icon.png"/><span>Mall Items</span></a></li>
                <li><a href="#"><img src="img/icon.png"/><span>Daily Report</span></a></li>
                <li><a href="#"><img src="img/icon.png"/><span>Super Admin</span></a></li>
            </ul>
        </div> -->
        <div class="row-fluid">
            
        	<%= render 'form' %>
            <%= render 'leadlist' %>
        </div>
    </div>