<%if current_user.isCompany%>
	<%=render "home/companyLogo"%>
<%end%>
<%if current_user.isEmployee || current_user.isCompany%>
	<div class="setting_img_col">
	    <%if current_user.picture.present?%>
            <%= image_tag current_user.picture.avatar.url(:medium), :class=>"img-polaroid" %>
        <%else%>
            <img src="/assets/company-logo.png" class="img-polaroid">
        <%end%>
        <div class="clear"></div>
        <a class="btn yellow submit_profile_pic">Upload Profile Pic</a>
        <%= form_for @picture, :url => '/createpic' ,:html => { :id => "p_logo" } do |form| %>
          <%= form.file_field :avatar, :style =>"display:none" %>
         <% end %>
	</div>
 <%end%>