<div class="row-fluid">
    <div class="span12 mr10">
        <div class="" style="text-align:center;">
            <%if @picture_user.present?%>
                <%= image_tag @picture_user.viplogo.url(), :style=>"height:300px;width:1000px;" %>
            <%else%>
                <img src="/assets/company-logo.png" style="height:300px;width:1000px">
            <%end%>
        </div>
    </div>
</div>


