<ul class="sale_statistic_data <%=current_user.isCompany ? 'gaugemargin' : ''%>">
    <li>
        <div class="gauge">
            <div class="demoWidget" style="position: relative;">
                <div style="float: left;" class="gaugeContainer" id="membersoldgauge"></div>
                <div class="gaugeValue" style="position: absolute; top: 119px; left: 42px; font-family: Sans-Serif; text-align: center; font-size: 17px; width: 70px;"></div>

            </div>
        </div>
        <span>Memberships Sold</span>
    </li>
    <li>
        <div class="gauge">
            <div class="demoWidget" style="position: relative;">
                <div style="float: left;" class="gaugeContainer" id="cashgauge"></div>
                <div class="gaugeValue" style="position: absolute; top: 119px; left: 42px; font-family: Sans-Serif; text-align: center; font-size: 17px; width: 70px;"></div>

            </div>
        </div>
        <span>New Cash</span>
    </li>
    <li>
        <div class="gauge">
            <div class="demoWidget" style="position: relative;">
                <div style="float: left;" class="gaugeContainer" id="eftgauge"></div>
                <div class="gaugeValue" style="position: absolute; top: 119px; left: 42px; font-family: Sans-Serif; text-align: center; font-size: 17px; width: 70px;"></div>

            </div>
        </div>
        <span>New Dues - E.F.T.</span>
    </li>
    <li>
        <div class="gauge">
            <div class="demoWidget" style="position: relative;">
                <div style="float: left;" class="gaugeContainer" id="totalgrossgauge"></div>
                <div class="gaugeValue" style="position: absolute; top: 119px; left: 42px; font-family: Sans-Serif; text-align: center; font-size: 17px; width: 70px;"></div>

            </div>
        </div>
        <span>Total Gross Sales</span>
    </li>
</ul>