<li>
    <div class="meter_up_txt">NEW MEMBERSHIPS</div>
    <div id="mem_gauge" class="gauges">
        <div id="gauge_mem"></div>
    </div>
    <div class="meter_down_txt mem_text"></div>
    <span class="meter_in_txt" id="mem_in_txt"></span>
</li>
<li>
    <div class="meter_up_txt">MONEY DOWN</div>
    <div id="cash_gauge" class="gauges">
        <div id="gauge_cash"></div>
    </div>
     <div class="meter_down_txt cash_text"></div>
     <span class="meter_in_txt" id="cash_in_txt"></span>
</li>
<li>
    <div class="meter_up_txt">NEW DUES</div>
    <div id="eft_gauge" class="gauges">
        <div id="gauge_eft "></div>
    </div>
     <div class="meter_down_txt eft_text"></div>
     <span class="meter_in_txt" id="eft_in_txt"></span>
</li>
<li>
    <div class="meter_up_txt">TOTAL SALES</div>
    <div id="total_gauge" class="gauges">
        <div id="gauge_total"></div>
    </div>
     <div class="meter_down_txt total_text"></div>
     <span class="meter_in_txt" id="tot_in_txt"></span>
</li>
