<div class="border grad_box_col">
           
<h2 class="heading">WORK FLOW AT A GLANCE</h2>
<div class="meter_up_txt" style="color:#fff;font-size:18px;text-align: center;">TOTAL LEADS</div>
<div class="total_leads">
	<div id="lead_gauge" class="gauges" style="margin-top: -20px;">
        <div id="gauge_lead"></div>
    </div>
	<span class="lead_text"></span>
</div>
</div>

<span class="script_gauges">
    <%=render "home/dashboard_gauges_script"%>
</span>


