<div class="border grad_box_col">
           
<h2 class="heading">WORK FLOW AT A GLANCE</h2>
<div class="total_leads">
	<div id="lead_gauge" class="gauges">
        <div id="gauge_lead"></div>
    </div>
	<span class="lead_text"></span>
</div>
</div>

<span class="script_gauges">
    <%=render "home/dashboard_gauges_script"%>
</span>


