<h2 class="heading">Leads</h2>
<div class="total_leads">
	<div class="gauge">
		<div class="demoWidget" style="position: relative;">
			<div style="float: left;" class="gaugeContainer container220" id="leadgauge"></div>
			<div class="gaugeValue" style="position: absolute; top: 119px; left: 42px; font-family: Sans-Serif; text-align: center; font-size: 17px; width: 70px;"></div>
		</div>
	</div>
	<span>Total Leads</span>
</div>