<a href="javascript:void(0)">
	<div class="salesPrsn img-polaroid">
		<%if user.picture.present?%>
	        <%= image_tag user.picture.avatar.url(:thumb), :class=>"img-polaroid", :style=>"height:45px;" %>
        <%else%>
        	<img class="img-polaroid" src="/assets/client_img.png" style="height:45px;"/>
	    <%end%>
	</div>
	<div class="pull-left name">
		<span style="color:#FFDE52"><%=user.name%></span><span style="color:#FFDE52"><%=user.role.role_type.humanize%></span>
	</div>
</a>