<%if current_user.isCompany%>
    <div class="span3">
        <div class="salesRep borderbox">
            <h2 class="heading">Sales Representative</h2>
            <div class="list border borderbox seeusergauge">
                <ul>
                    <%if @users.present? %>
                        <%@users.each do |user|%>
                        <li id="user_<%=user.id%>">
                            <%=render "sales_user", :user=>user%>
                        </li>
                        <%end%>
                    <%end%>
                </ul>
            </div>
        </div>
    </div>
<%end%>