<div class="salesRepUser">
    <%if @user.present?%>
        <%=render "home/sales_user", :user=>@user%>
    <%end%>
</div>
<div class="sales_data_filter">
   
    <ul id="u_<%=@user.present? ? @user.id : current_user.id%>">
        <li><a href="javascript:void(0)" name="daily_rep" class="report wht_active">Daily</a></li>
        <li><a href="javascript:void(0)" name="monthly_rep" class="report">Monthly</a></li>
        <li><a href="javascript:void(0)" name="project_rep" class="report">Projections</a></li>
    </ul>
</div>
<%=render "home/dashboard_gauges"%>