<a href="javascript:void(0)">
	<div class="salesPrsn img-polaroid">
		<%if user.picture.present?%>
	        <%= image_tag user.picture.avatar.url(:small), :class=>"img-polaroid", :style=>"width:70px;height:70px;"%>
        <%else%>
        	<img class="img-polaroid" src="/assets/client_img.png" style="width:70px;height:70px;" />
	    <%end%>
	</div>
	<div class="pull-left name" style="min-width:48%">
		<span style="color:#FFDE52"><%=user.name%></span><span style="color:#FFDE52"><%=user.role.role_type.humanize%></span>
	</div>
</a>