<a href="javascript:void(0)">
	<div class="salesPrsn img-polaroid">
		<%if user.picture.present?%>
	        <%= image_tag user.picture.avatar.url(:small), :class=>"img-polaroid user78"%>
        <%else%>
        	<img class="img-polaroid user78" src="/assets/client_img.png"/>
	    <%end%>
	</div>
	<div class="pull-left name" style="max-width:45%">
		<span style="color:#ffffff;word-break:break-all"><%=user.name.humanize%> <%=!user.lname.blank? ? user.lname.humanize : ''%>
		</span>
		<span style="color:#ffffff">
			<%=user.isEmployee ? 'Employee' : 'Admin'%>
		</span>
	</div>
</a>