<a href="javascript:void(0)">
	<div class="salesPrsn img-polaroid">
		<%if user.picture.present?%>
	        <%= image_tag user.picture.avatar.url(:small), :class=>"img-polaroid user78"%>
        <%else%>
        	<img class="img-polaroid user78" src="/assets/client_img.png"/>
	    <%end%>
	</div>
	<div class="pull-left name" style="max-width:48%">
		<span style="color:#ffffff;word-break:break-all"><%=user.name%></span><span style="color:#ffffff"><%=user.role.role_type.humanize%></span>
	</div>
</a>