<%if @message != ''%>
	$(".upgrade_plan_content").html('<p><%=@message%></p>');
<%else%>
	$(".upgrade_plan_content").html('<%=escape_javascript(render partial: "common_templates/upgrade_pop_text")%>');
<%end%>
