
<div class="container">
    <div class="row-fluid">
        <ul class="dashboardIcons">

            <li>
                <%=link_to(new_lead_path(), html_options = {}) do %>
                <i class="icon icon_opt_in_lead"></i><span>Leads</span>                 
                <%end %>
            </li>
            <%if current_user.role.role_type == "admin" || current_user.role.role_type == "company"%>
            <li>
                <%=link_to(company_new_path, html_options = {}) do %>
                <i class="icon icon_leads"></i><span>Manage User</span><span></span>                  
                <%end %>
            </li>
            <%end%> 
            <%if current_user.role.role_type == "employee"%>
            <li>
                <%=link_to(new_viplead_path, html_options = {}) do %>
                <i class="icon icon_socialInviter"></i><span>Social Inviters</span><span></span>                  
                <%end %>
            </li>
            <%end%>
            <li>
                <%=link_to(new_appointment_path(), html_options = {}) do %>
                <i class="icon icon_opt_in_lead"></i><span>Appointments</span>                 
                <%end %>
            </li> 

        </ul>
    </div>
     
</div>

