
<div class="container">
    <div class="row-fluid">
        <ul class="dashboardIcons">

            <li>
                <%=link_to(new_lead_path(), html_options = {}) do %>
                <i class="icon icon_opt_in_lead"></i><span>Leads</span>                 
                <%end %>
            </li>
            <%if current_user.role.role_type == "admin" || current_user.role.role_type == "company"%>
            <li>
                <%=link_to(company_new_path, html_options = {}) do %>
                <i class="icon icon_leads"></i><span>Manage User</span><span></span>                  
                <%end %>
            </li>
            <%end%> 
            <%if current_user.role.role_type == "employee"%>
            <li>
                <%=link_to("javascript:void(0)", html_options = {}) do %>
                <i class="icon icon_socialInviter"></i><span>Social Inviters</span><span></span>                  
                <%end %>
            </li>
            <%end%>
            <li>
                <%=link_to(new_appointment_path(), html_options = {}) do %>
                <i class="icon icon_opt_in_lead"></i><span>Appointments</span>                 
                <%end %>
            </li> 

        </ul>
    </div>
    <div class="row-fluid" style="height:340px">

    </div>
</div>

<!-- <div class="welcome_con">
    <div class="container">
        <div class="row-fluid">
            <div class="span6">
                <div class="home_video">
                     <iframe width="560" height="315" src="//www.youtube.com/embed/30VAxy_YXBM" frameborder="0" allowfullscreen></iframe>
                </div>
            </div>
            <div class="span6">
                <div class="welcome_heading"><h3 class="txt_red">PUMP UP YOUR</h3></div>
                <p class="welcome_heading_2">Leads, Sales & Profits!</p>
                <div class="welcome_save">
                    <strong class="txt_red">Save 33%</strong>
                    <p>Charter member pricing ends soon!</p>
                </div>                
            </div>
        </div>
        <div>
            <p id="defaultCountdown"></p>
        </div>
    </div>
</div>
<div class="container footerLinks">
    <div class="row-fluid">
        <div class="span2">
            <h2>LEAD<i class="txt_red">PUMP</i></h2>
            <ul>
                <li><a href="#">Features - Plans</a></li>
                <li><a href="#">Testimonials</a></li>
            </ul>
        </div>
        <div class="span2">
            <h2>About Us</h2>
            <ul>
                <li><a href="#">Our Team</a></li>
            </ul>
        </div>
        <div class="span2">
            <h2>Support</h2>
            <ul>
                <li><a href="#">FAQ's</a></li>
                <li><a href="#">Training</a></li>
                <li><a href="#">Contact Us</a></li>
            </ul>
        </div>
        <div class="span3">
            <h2>LEADPUMP is mobile</h2>
            <ul class="for_mobile">
                <li>iPhone.<i class="iphone_icon"></i></li>
                <li>iPad.<i class="ipad_icon"></i></li>
                <li>Android<i class="android_icon"></i></li>
            </ul>
        </div>
    </div>
</div> -->