 
<div class="container">
    <%if current_user.isEmployee || current_user.isCompany%>
        <%#=render "home/companyLogo"%>
    <%end%>
    <div class="row-fluid">
        <ul class="dashboardIcons">
            <%=render "home/companyDashboard"%>
        </ul>
    </div>
</div>

