<div class="row-fluid">
  Welcome to buddy refferal.
  Site is under construction.
  <p> You have login as company now you can create employee. on clicking link below.</p>
  <h4><%=link_to 'Create Employee', employee_new_path() %></h4>
  <h4><%=link_to 'Create Appointment', appointment_new_path() %></h4>
</div>