 
<div class="container wrapper">
    <%if current_user.isEmployee || current_user.isCompany%>
        <%=render "home/companyLogo"%>
    <%end%>
    <div class="row-fluid">
        <ul class="dashboardIcons">
            <%=render "home/companyDashboard"%>
        </ul>
    </div>
</div>
<a class="btn yellow fbfetchfreinds" href="javascript:void(0)">Share on facebook</a>
<%=render "common_templates/popupContainer"%>