<div style="height:390px">
<p>

</p>
  
  welcome to buddy refferal.

  site is under construction.
  <p> You have login as comapany now you can create employee. on clicking link below.</p>
  <p><%=link_to 'create employee', employee_new_path() %></p>
</div>