<%= stylesheet_link_tag 'index_css' %>

<div class="container">
    <div class="row-fluid">
        <div class="span12 text-center">
            <h3>Email From INTOUCH on Pricing.</h2>
           	<img src="/assets/intouch.jpg">
    	</div>
    	 <div class="span12 text-center">
            <h3>Email From LeadDolphin on Pricing.</h2>
           <img src="/assets/dolphin.jpg">
    	</div>
</div>
</div>