        <div class="container">
            <div class="passhead">
                <h3>Express Guest Pass</h3>
            </div>
            <p>Save Time -</p>
            <p>Please fill in your information, print the pass and sign it. Don’t forget to bring valid Identification with you. Present both to the front desk upon arrival to the club.</p>
            <div class="passform">
                <h4 style="text-align:center"><%=@dayscount%> Days FREE To A Healthier You!</h4>  
                <table class="table">          
                    <tr>
                        <td>
                            <label>Guest full name:</label>
                            <input class="input-large" type="text">
                            <label>Address:</label>
                            <input class="input-large" type="text">
                            <label>Zip:</label>
                            <input class="input-small" type="text">
                            <label>Are you a member of a health club?</label>
                            <select class="input-small">
                                <option value="no">No</option>
                                <option value="yes">Yes</option>
                            </select>
                            <label>What are your fitness goals?</label>
                            <select class="input-large">
                                <option value="overall">overall</option>
                                <option value="DR">Doctor recomended</option>
                                <option value="Build">Build muscle </option>
                                <option value="strength">Strength training</option>
                                <option value="loss">Weight loss</option>
                                <option value="rehab">Rehabilitation</option>
                            </select>
                        </td>
                        <td>
                            <label>Age:</label>
                            <input class="input-small" type="text">
                            <label>City:</label>
                            <input class="input-large" type="text">
                            <label>E-mail:</label>
                            <input class="input-large" type="text">
                            <label>Do you currently exercise?</label>
                            <select class="input-small">
                                <option value="no">No</option>
                                <option value="yes">Yes</option>
                                <option value="sometimes">Sometimes</option>
                            </select>
                        </td>
                        <td>
                            <label>Phone:</label>
                            <input class="input-large" type="text">
                            <label>State:</label>
                            <input class="input-large" type="text">
                            <label>Guest of::</label>
                            <input class="input-large" type="text">
                            <label>How long have you considered a program?</label>
                            <select class="input-large">
                                <option value="m">0-6 months</option>
                                <option value="y">6m-1yr</option>
                                <option value="l">Longer</option>
                            </select>
                        </td>
                    </tr>
                </table>
                <p>Staff Only Area:</p>
                <h4>Membership Advisor: ________________________________</h4>
                <h4>Expires on:______________/_____________________/___________________</h4>
            </div>
            <p>To Use This Pass</p> 
            <ol>
                <li>1.Present at member service desk upon entering, photo ID required.</li>
                <li>2.Must be 18 years of age or with legal guardian present for insurance purposes.</li>
                <li>3.You will be given a tour to discover our amenities.</li>
                <li>4.Valid for first time guest’s only.</li>
            </ol>
            <h4 style="text-align:center">WAIVER OF LIABILITY FOR GYM USE</h4>
            <p>I/We hereby understand and acknowledge that the training, programs and events held by the Gym I am attending with this guest pass may expose me to many inherent risks, including accidents, injury, illness, or even death. I/We assume all risk of injuries associated with participation including, but not limited to, falls, contact with other participants, the effects of the weather, including high heat and/or humidity, and all other such risks being known and appreciated by me.</p>
            <p>I/We hereby acknowledge my responsibility in communicating any physical and psychological concerns that might conflict with participation in activity. I/We acknowledge that I am physically fit and mentally capable of performing the physical activity I choose to participate in.</p>
            <p>After having read this waiver and knowing these facts, and in consideration of acceptance of my participation the Gym furnishing services to me, I agree, for myself and anyone entitled to act on my behalf, to <b>HOLD HARMLESS, WAIVE AND RELEASE</b></p>
            <p>The gym, its officers, agents, employees, organizers, representatives, and successors from any responsibility, liabilities, demands, or claims of any kind a rising out of my participation in the gym training, programs and/or events.</p>
            <p>By my signature I/We indicate that I/We have read and understand this Waiver of Liability. I am aware that this is a waiver and a release of liability and I voluntarily agree to its terms.</p>
            <p>Name______________________________  Signature___________________________ Date_____________</p>
            <p>In case of an emergency please contact:</p>
            <p>Name______________________________  Phone ___________________________</p>
            <p>Parents signature if you are a minor:</p>
            <p>Name______________________________  Signature___________________________ Date_____________</p>
            <button class="pull-right" onclick="window.print();">Print Page</button>
        </div>
