        <div class="container">
            <h4>Save Time -</h4>
            <p><%=@dayscount%> days FREE To A Healthier You!, print the pass and sign it. Don’t forget to bring valid Identification with you. Present both to the front desk upon arrival to the club.</p>
            <%= render "/home/printPass" %>
            
            <!-- <button class="pull-right" onclick="window.print();">Print Page</button> -->
            <p style="float:right">
                <%= link_to "Print Page", print_pass_path(user: @company,dy:@dayscount ,format: 'pdf'), :class=>"btn yellow"%>
            <p>
            <!-- <p onclick="test2()" class="btn">download pdf</p> -->
        </div>
