<div class="container">
    <div class="row-fluid">
        <div class="payment_success">
            <div class="signupCon pr">
                <div class="row-fluid">
                    <div class="span12 mt20">
                        <div class="pd15 ">
                        <h2>Charter Member…</h2>
                        <p>Congratulations on taking advantage of Charter Member pricing and the first step in revolutionizing your clubs leads,
                        sales and profits.</p>

                        <p>Our official launch date to the public will be on or around 12-19-2013. You will receive an E-mail notification prior with
                        Instructions on setting up your clubs campaign and your sales teams user accounts.</p>

                        In good health,
                        Team LEAD<span class="txt_red">PUMP</span><span class="superscript">TM</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>