<div class="container">
    <div class="row-fluid">
        <div class="payment_success">
            <div class="signupCon pr">
                <div class="row-fluid">
                    <div class="span12 mt20">
                        <div class="pd15 ">
                            <h2>Thank you for using leadpump...</h2>
                            <p>Your trial has been successfully cancelled.</p>
                            <p>In good health,</p><br />
                            Team LEAD<span class="txt_red">PUMP</span><span class="superscript">TM</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>