<div class="container">
   <div class="row-fluid">
   	<span class="formfields">
   	</span>
   	<div style="margin:10px">
	  	<a href="javascript:void(0)" class="btn yellow acc_set_btn" data-form="addrs">Location Address</a>
	  	<a href="javascript:void(0)" class="btn yellow acc_set_btn" data-form="card">Save Card Info</a>
	  	<a href="javascript:void(0)" class="btn yellow acc_set_btn" data-form="manage_sub">Manage Subscription</a>
	</div>
	
      <div class="span8 app_header" style="width: 78.811966%;margin-left: 8%;">
		  <div class="border" style="width:106%">
		   	   <%=render "common_templates/campaign_temps/manage_address"%>
			</div>
		</div>
   </div>
</div>

        