<h2 class="heading">Manage Subscription</h2>
<div class="acc_set_steps" style="padding:20px;">
   	
	<p class="upgrade_img">
   		<input type="button" class="btn yellow save_addres" value="Upgrade Plan" style="padding: 10px 15px;"/>
   	</p>
   	<p class="">
   		<input type="button" class="btn yellow save_addres" value="Cancel Trial"/>
   	</p>
</div>

<div id="upgrade_terms" class="popup_container">
    <div style="z-index:99999;top:3%">
      <div id="upgrade_pop_txt" style="font-size:20px;text-align:center;width:725px;height:auto">
        <img src="/assets/ajax-loader.gif" style="margin:15%"/>
        <%#=render "common_templates/upgrade_pop_text"%>
      </div>
    </div>
  </div>