<h2 class="heading">Manage Subscription</h2>
<div class="acc_set_steps" style="padding:20px;">
   
	<p class="upgrade_img btn_inline">
   		<input type="button" class="btn yellow save_addres" value="Upgrade Plan" style="padding: 10px 15px;"/>
   	</p>
   	<p class="btn_inline">
   		<input type="button" class="btn yellow cancel_plan" value="Cancel Trial"/>
   	</p>
    <span class="upgrade_plan_content area_inline">
    </span>
</div>
