<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p><%=@message%>.<%=link_to "click here", @url %> to respond.</p>
    <p>Thanks in advance and have a great day!</p>
  </body>
</html>