<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv='Content-Type' />
  </head>
  <body>
    <p><%=@message%></p>
	<p><%=link_to "Redeem Your Free Gift Of Fitness", @url %></p>
    <p>Thanks in advance and have a great day!</p>
  </body>
</html>