<!DOCTYPE html>
<html>
<head>
	<meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
	<p><%=@message%>
	<p><%=link_to "Respond", @url%></p>
	<p>Talk to you soon!</p>
	<img src="<%=@trackUrl%>" />
	</body>
	</html>