<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>hey your freind sent you inivitation to pump your leads.Click here to respond <%=link_to "leadpump.com", @url %>.</p>
    <p>Thanks in advance and have a great day!</p>
  </body>
</html>