<!DOCTYPE html>
<html>
<head>
	<meta http-equiv='Content-Type' />
</head>
<body>
	<p><%=@message%>
	<p><%=link_to "Redeem Your Free Gift Of Fitness", @url %></p>
	<p>In good health.</p><br />
	<img src="<%=@trackUrl%>" />
</body>
</html>