<p>Hello <%= @user.email %>!</p>

<p>Welcome to LEADPUMP.com. Your health club is on its way to revolutionizing leads and 
	sales through our patent pending technology. The General Manager of your club has 
	created your employee account to access LEADPUMP.com</p>

<p>Please click on the link to set your new password.</p>
<p><%= link_to 'Set your password now', @url %></p>

<p>In good health,<br />Team LEADPUMP</p>
