Hello <%="#{@user.name}"%>


<table border="1">
	<tr>
		<th>
			Sales Person
		</th>
 		<th>
			Email Sent
		</th>
		<th>
			Email Opened
		</th>
		<th>
			Email Clicked
		</th>
		<th>
			Email Converted
		</th>
	</tr>
	<%@u_list.each do |user| %>
		<tr>
			<%user.each do |u| %>
			<td>
				<%="#{u ? u : '-'}"%>
			</td>
			<%end%>
		</tr>
		<%end%>
</table>
