Welcome Mail!!!!!
By<p><%=@user%></p>
<p>
No of OptInLead <%="#{@opts}"%>
</P>
<p>
No of P.O.S. <%="#{@p_o_s}"%>
</P>
<table>
	<th>
		Sales Person
	</th>
	<th>
		Number of Uses
	</th>
	<th>
		Email Sent
	</th>

	<th>
		Email Opened
	</th>

	<th>
		Email Clicked
	</th>


</table>
