<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv='Content-Type' />
  </head>
  <body>
	<p>Hello <%=@name%></p>
    <p>You are seconds away from increasing your clubs leads, sales and profits. Please click the link below to 	activate your 30-day free trial.</p>
	<p>Click Here - <%=link_to "Activate", @url%></p><br />

	<p>In good health,<br />
	LEADPUMP - Staff</p>

	<p>"Getting referrals can be work but it does not have to be difficult"</p>
    
  </body>
</html>