<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv='Content-Type' />
  </head>
  <body>
  	<p>Dear new member,</p>
  	<p>Congratulations on taking your first step to looking and feeling your very best!</p>
    <br />
    <p>As a "thank you" for inviting your friends to the club we would like to give you access to on-line member rewards area where you can get special incentives for products and services at the club.</p><br />
    <p>Simply click the link below to access your rewards.</p><br />
    <p>In good health.</p><br />
	<p><a href="http://<%=@url%>">Access member rewards</a></p>
  </body>
</html>