<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv='Content-Type' />
  </head>
  <body><%=@url%>
    <p>Thanks for using leadpump.Here your rewards. click link below and get coupon.</p>
	<p><a href="http://<%=@url%>">Get Free Rewards</a></p>
<p></p>
  </body>
</html>