<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv='Content-Type' />
  </head>
  <body>
    <p>Hello <%=@email%></p>
	<p>
		<%=link_to "Click Here", @url%> to verify your account.</p>
    <p>Thanks!</p>
  </body>
</html>