<!DOCTYPE html>
<html>
<head>
	<meta http-equiv='Content-Type' />
</head>
<body>
	<p><%=@message%></p>
	<p>In good health.</p><br />
	<p style="font-size:10px;"><i>Note: This message is not spam. You are receiving this because you requested a guest pass. To manage your subscription or unsubscribe <span style="color:#3399FF;"><%=link_to "http://#{@unsub_url}" do%>click here.<%end%></span></i></p>
</body>
</html>