<!DOCTYPE html>
<html>
<head>
	<meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
	<p> As one of my friends you qualify to receive a FREE
		7 day membership pass. I thought you might be interested and would join me.</p>
		<p>Hope to see you in the club soon.</p>
		<p>Click the link below to get your pass now.</p>
		<p></p>
		<p>Talk to you soon!</p>
	</body>
	</html>