<!DOCTYPE html>
<html>
<head>
	<meta http-equiv='Content-Type' />
</head>
<body>
	<p><%=@message%></p>
	<p>In good health.</p><br />
	<p>Unsubscribe:</p>
	<p>
		<%=link_to "http://#{@unsub_url}" do%>
		<%="#{SERVER_URL}/Unsubscribe"%>
		<%end%>
	</p>
</body>
</html>