<div class="container wrapper">
    <div class="row-fluid">
        <div class="span4">
            <div class="border">
                <h2 class="heading">Add A New Mall Item</h2>
                <form class="form pd15">
                    <p><label>Title:</label><input type="text" value=""/></p>
                    <p><label>Link:</label><input type="text" value=""/></p>
                    <!-- <p><label>File:</label><input type="file"/> </p>
                    <p>*Don't enter the link if you are uploading a file instead.</p> -->
                    <p><label>Picture:</label><input type="file"/> </p>
                    <p>*The size should be 300x300 pixels.</p>
                    <p><input class="btn yellow" type="button" value="Add Mall Item"/></p>
                    <div class="clear"></div>
                </form>
            </div>
        </div>
        <div class="span8">
            <div class="border">
                <h2 class="heading">All Mall Items</h2>
                <table class="table table-striped">
                    <thead>
                    <tr><td>No.</td><td>Title</td><td>Picture</td><td>Action</td></tr>
                    </thead>
                    <tbody>
                    <tr><td>1</td><td style="width: 70%;">$10 e-cash</td><td><img src="img/product_thumb.png"></td><td><a class="edit_icon pull-left" href="#"></a><a class="delete_icon pull-left" href="#"></a></td></tr>
                    <tr><td>2</td><td style="width: 70%;">$100 off any personal training package over 12 season</td><td><img src="img/product_thumb.png"></td><td><a class="edit_icon pull-left" href="#"></a><a class="delete_icon pull-left" href="#"></a></td></tr>
                    <tr><td>3</td><td style="width: 70%;">$10 e-cash</td><td><img src="img/product_thumb.png"></td><td><a class="edit_icon pull-left" href="#"></a><a class="delete_icon pull-left" href="#"></a></td></tr>
                    <tr><td>4</td><td style="width: 70%;">$10 e-cash</td><td><img src="img/product_thumb.png"></td><td><a class="edit_icon pull-left" href="#"></a><a class="delete_icon pull-left" href="#"></a></td></tr>
                    <tr><td>5</td><td style="width: 70%;">$10 e-cash</td><td><img src="img/product_thumb.png"></td><td><a class="edit_icon pull-left" href="#"></a><a class="delete_icon pull-left" href="#"></a></td></tr>
                    <tr><td>6</td><td style="width: 70%;">$10 e-cash</td><td><img src="img/product_thumb.png"></td><td><a class="edit_icon pull-left" href="#"></a><a class="delete_icon pull-left" href="#"></a></td></tr>
                    <tr><td>7</td><td style="width: 70%;">$10 e-cash</td><td><img src="img/product_thumb.png"></td><td><a class="edit_icon pull-left" href="#"></a><a class="delete_icon pull-left" href="#"></a></td></tr>
                    </tbody>
                </table>
            </div>
            <div class="clear"></div>
            <div class="sliderCon">
                <h2>Online Mall</h2>
                <p class="text-center alert">Please click on the ad of your choice to print a coupon to redeem at the club.</p>
                <div class="list_carousel responsive" >
                    <ul id="foo5">
                        <li><a href="#"><img src="img/slider-img-1.jpg"/></a></li>
                        <li><a href="#"><img src="img/slider-img-2.jpg"/></a></li>
                        <li><a href="#"><img src="img/slider-img-1.jpg"/></a></li>
                        <li><a href="#"><img src="img/slider-img-2.jpg"/></a></li>
                        <li><a href="#"><img src="img/slider-img-1.jpg"/></a></li>
                        <li><a href="#"><img src="img/slider-img-2.jpg"/></a></li>
                        <li><a href="#"><img src="img/slider-img-1.jpg"/></a></li>
                        <li><a href="#"><img src="img/slider-img-2.jpg"/></a></li>
                    </ul>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
    </div>
</div>