<div class="container wrapper">
    <div class="row-fluid">
        <div class="span4">
            <div class="border formfields">
                <%=render "form"%>
            </div>
        </div>
        <div class="span8">
            <div class="border">
                <h2 class="heading">All Mall Items</h2>
                <table class="table table-striped">
                    <thead>
                    <tr><td>No.</td><td>Title</td><td>Associate</td><td>Picture</td><td>Action</td></tr>
                    </thead>
                    <tbody>
                        <%if @onlinemalls.present?%>
                            <%@onlinemalls.each_with_index do|om, index|%>
                                <tr id="mallitem_<%=om.id%>">
                                    <td><%=index+1%></td>
                                    <%=render "mallitemcontentrow", :om=>om,:index=>index%>
                                </tr>
                            <%end%>
                        <%end%>
                    </tbody>
                </table>
            </div>
            <div class="span8">
                <div class="clear"></div>
                <div class="sliderCon">
                    <h2>Online Mall</h2>
                    <p class="text-center alert">Please click on the ad of your choice to print a coupon to redeem at the club.</p>
                    <div class="list_carousel responsive" >
                        <ul id="foo5">
                            <li><a href="#"><img src="img/slider-img-1.jpg"/></a></li>
                            <li><a href="#"><img src="img/slider-img-2.jpg"/></a></li>
                            <li><a href="#"><img src="img/slider-img-1.jpg"/></a></li>
                            <li><a href="#"><img src="img/slider-img-2.jpg"/></a></li>
                            <li><a href="#"><img src="img/slider-img-1.jpg"/></a></li>
                            <li><a href="#"><img src="img/slider-img-2.jpg"/></a></li>
                            <li><a href="#"><img src="img/slider-img-1.jpg"/></a></li>
                            <li><a href="#"><img src="img/slider-img-2.jpg"/></a></li>
                        </ul>
                        <div class="clearfix"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
