<div class="container wrapper">
	<div class="row-fluid">
		<div class="span4">
			<div class="border">
				<h2 class="heading">View Reports By Day</h2>
				<div class="pd15 cal_design" id="salesCalender">
					
				</div>
			</div>
		</div>
		<div class="span8">
			<div class="border salesData">
				<%=render "salesdata"%>
				</div>
			</div>
		</div>
	</div>