<table class="table table-striped">
 <thead>
   <tr><td>User Image</td><td>Name</td><td>Email</td><td>Status</td><td>Action</td></tr>
 </thead>
 <tbody>    
  <%if @users.size > 0%>                
  <% @users.each do |user|%>
  <tr class="viewLead listView" id="viewLead_<%=user.id%>" href="#viewPopup" data-action="userpopup">
    <%= render "userListRows", :user => user%>
  </tr>
  <% end %>      
  <%else%>
  <tr>
    <td colspan="7" style="text-align:center">No User Found
    </td>
  </tr>         
  
  <% end %> 
</tbody>
</table>
