<div class="span8">
  <div class="border">
   <h2 class="heading">All Users</h2>
   <div class="heading leadHeading">
   	
    <!-- <input type="text" name="test" id="userSearch" placeholder="Type email for search user">         -->
  </div>
  <span class="leadListContent" id="userListContent">
    <%= render "userListContent"%>   
  </span>
</div>
</div>