<div class="span8" style="width:<%= @temp_name == "dusr_set" ? '100%' : ''%>">
  <div class="border">
   <h2 class="heading">All Users</h2>
   <div class="heading leadHeading" style="margin-bottom:0px;">
   	
    <!-- <input type="text" name="test" id="userSearch" placeholder="Type email for search user">         -->
  </div>
  <span class="leadListContent" id="userListContent">
    <%= render "userListContent"%>   
  </span>
</div>
</div>