<div class="span4 margin_width" style="text-align:left;">    
    <div>
        <div class="border">
            <h2 class="heading headmsg">Edit POS</h2>
            <div class="form pd15">
                <p>
                    <label><%=check_box_tag "vipon", 'yes', current_user.fetchCompany.vipon ? true : false, :class => 'viponsetting mr2' %>On/Off vips</label>
                    
                </p>
                <p><label>No of vips </label>
                    <%=select_tag("noofvip", options_for_select([[1],[2],[3],[4],[5]],:selected=>current_user.fetchCompany.vipcount),:prompt => "Select No Of Vips",:style=>"width:200px;margin:10px 0 10px 0;") %>
                </p>
                <p class="editvipseting">
                    <input type="button" class="btn yellow" name="vipsetting" value="submit"/>
                </p>
                <div class="clear"></div>
            </div>        
        </div> 
    </div>        
</div>