
<div class="container">
   <div class="row-fluid">
   	<span class="formfields">
       <%= render 'form' %>
   </span>
       <%= render 'userlist' %>
   </div>
</div>
<%= render "common_templates/popupContainer"%>