$(".save_set").html('<input type="button" class="btn yellow" value="Save"/>');
$(".pay_btn").html('<input type="button" class="btn yellow upg_btn_sv" value="Save"/>');
<%if @cardError.present?%>
	$("#stripe_error").text("<%=@cardError%>");
<%else%>
	$("header").append('<p class="flashes alert alert-success">SuccessFully Updated</p>');
	hideSuccessMsg();
<%end%>