<%= stylesheet_link_tag  "color_pic/colorpicker.css", :media => "all" %>
<%= javascript_include_tag 'color_pic/colorpicker.js', 'color_pic/eye.js','color_pic/utils.js' => true %>
<script>
    $(document).ready(function(){
    $('#bg_color_sl').ColorPicker({
        color: '#0000ff',
        onShow: function (colpkr) {
            $(colpkr).fadeIn(500);
            return false;
        },
        onHide: function (colpkr) {
            $(colpkr).fadeOut(500);
            return false;
        },
        onChange: function (hsb, hex, rgb) {
            $("#bg_color_sl").css('backgroundColor', '#' + hex);
            $("#landing_page_bg_color").val('#' + hex);
        }
    });

    $('#hd_color_sl').ColorPicker({
        color: '#0000ff',
        onShow: function (colpkr) {
            $(colpkr).fadeIn(500);
            return false;
        },
        onHide: function (colpkr) {
            $(colpkr).fadeOut(500);
            return false;
        },
        onChange: function (hsb, hex, rgb) {
            $('#hd_color_sl').css('backgroundColor', '#' + hex);
            $('#landing_page_header_color').val('#' + hex);
        }
    });
});

</script> 
<div class="container wrapper">
	<div class="middle_cont_bg">
	  <div class="row-fluid txt_cent">
			<div class="settings_menu setting_all_btn" >
				<ul>
					<li>
						<input type="submit" class="btn yellow setting_btn home_setting" id = "home_setting"  value="Settings" name="home_setting"/>
					</li>
					<li>
						<input type="submit" class="btn yellow setting_btn fb_logo" id = "fb_logo"  value="Upload Fb Logo" name="fb_logo"/>
					</li>
					<li>
						<input type="submit" class="btn yellow setting_btn account_setting" id = "account_setting"  value="Account Setting" name="account_setting"/>
					</li>
					<%if is_vip_allow(current_user)%>
						<li>
							<input type="submit" class="btn yellow setting_btn manage_social" id = "manage_social_invite"  value="Manage Social Invite Messages" name="manage_social"/>
						</li>
						<li>
							<input type="submit" class="btn yellow setting_btn manage_landing" id = "manage_landing"  value="Manage Landing Page", name="manage_landing" />
						</li>
						<li>
							<input type="submit" class="btn yellow setting_btn manage_pos" id = "manage_pos_referral"  value="Manage POS Referral Creation", name="manage_pos" />
						</li>
						<li>
							<input type="submit" class="btn yellow setting_btn online_mall" id = "online_mall"  value="Online Mall", name="online_mall" />
						</li>
					<%end%>
					<li>
						<input type="submit" class="btn yellow setting_btn responder" id = "responder"  value="Responder", name="responder" />
					</li>
					<%if current_user.isCompany%>
						<li>
							<input type="submit" class="btn yellow setting_btn manage_user" id = "manage_user"  value="Manage User", name="manage_user" />
						</li>
						<li>
							<input type="submit" class="btn yellow setting_btn dusr_set" id = "dusr_set"  value="Manage DUSR" name="dusr_set"/>
						</li>
						<li>
							<input type="submit" class="btn yellow setting_btn waiver_text" id = "waiver_text"  value="Manage Guest Pass Waiver Text" name="waiver_text"/>
						</li>
					<%end%>
					<li>
						<input type="submit" class="btn yellow setting_btn code_gen" id = "code_gen"  value="Generate Lead Form" name="code_gen"/>
					</li>
				</ul>
			</div>
			<div id = "setting_page" >
				<%=render "home/companyLogo_seting"%>
		 </div>
		</div>
	</div>
</div>
<script>
	$(".btn_active").removeClass("btn_active");
	$("#home_setting").addClass("btn_active");
</script>
<%=render "common_templates/popupContainer"%>
<div id="cancel_sub" class="popup_container">
  <div style="z-index:99999;top:3%">
    <div style="font-size:20px;text-align:center;" id="dltmall" class="small_popup">
  	<span style="font-weight:bold;">
		Are you sure that you want to cancel our trial.
		<div style="margin-top: 100px;">
			<span class="btn yellow cancel_subscription">Cancel Trial</span>
			<span class="btn yellow cancelFancybox">close</span>
		</div>
	</span>
  </div>
  </div>
</div>
