<div class="span4 margin_width">    
    <div>
        <h2 class="heading" style="border-radius:5px;">Contact Detail</h2>
        <% if @opt_in_lead.phone.present? %>
	        <label>Phone:</label><input type="text" name="phone" disabled="disabled" value="<%=@opt_in_lead.phone%>">
        <%else%>
        	<span style="margin-top:40px;">No User Info available.</span>
        <%end%>
    </div>        
</div>