/*! HTML5 Boilerplate v4.3.0 | MIT License | http://h5bp.com/ */
html,
button,
input,
select,
textarea { color: #222;}
html {font-size: 1em; line-height: 1.4;}
::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */
 hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}
body {
    margin:0;
    padding: 0;
}
/*
 * Remove the gap between images, videos, audio and canvas and the bottom of
 * their containers: h5bp.com/i/440
 */

 audio,
 canvas,
 img,
 video {
    vertical-align: middle;
}
ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

/*
 * Remove default fieldset styles.
 */
 fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

 textarea {
    resize: vertical;
}

/* ==========================================================================
   Browse Happy prompt
   ========================================================================== */

   .browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}


/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Image replacement
 */

 .ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    /* IE 6/7 fallback */
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */

 .hidden {
    display: none !important;
    visibility: hidden;
}

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */

 .visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.invisible {
    visibility: hidden;
}

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}
.clearfix:after {
    clear: both;
}
.clearfix {
    *zoom: 1;
}
.clear {
    clear: both;
    width: 100%;
}
a {
    outline: none;
    color: #ff0000;
}
a:hover {
    color: #ff0000;
    text-decoration: underline;
}

.fl {
    float:left;
}
.fr {
    float:right;
}

.pr {
    position: relative;
}
.whalf {
    width: 50%;
}

.mt20 {
    margin-top: 20px;
}
.m0 {
    margin: 0 !important;
}
.m15 {
    margin: 15px;
}
.mt10 {
    margin-top: 10px;
}
.img_margin {
    margin: 0 15px 15px 15px;
}
.mr10 {
    margin-right: 10px;
}
.mr20 {
    margin-right: 20px;
}
.mb10 {
    margin-bottom: 10px;
}
.displayBlock {
    display: block;
}
h3 {
    font-size:24px;
    line-height: 30px;
    text-transform: uppercase;
    color: #666;
    margin: 0 0 20px 0;
}
h4 {
    font-size:16px;
    color: #666;
}
.pd15 {
    padding:15px;
}
.txt_red {
    color: #ff0000;
    font-style: normal;
}
.txt_black {
    color: #333;
    font-weight: normal;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

   body {
       font-family: Arial;
   }



   /*form*/
   input, textarea {
    border:1px solid #ddd;
    background: #fff;
    width: 100%;
    -moz-border-radius:0 !important;
    -webkit-border-radius:0 !important;
    border-radius:0 !important;
    box-shadow: none !important;

}
input[type="radio"], input[type="checkbox"] {
    width: auto;
}
input[type="submit"], input[type="reset"] {
    display: inline-block;
    width: auto;
}
.input_number {
    width: 88px;
    height: 33px;
}
.input_sml {
    width: 165px;
}
select {
    border:1px solid #ddd;
    background: #fff;
    width: 100%;
    height: 40px;
    padding: 5px;
    margin-bottom: 15px;

}
textarea {
    height: 200px;
}
.dashboard_con {
    width: 680px;
    min-height: 600px;
}
.dashboardIcons span{
    color: #FFDE52;
}

.s_msg_inv a{
    color: #333333;
}

.dashboardIcons span:focus{
    color: #FFDE52;
}

.feild_info {
    float: left;    
    margin: 12px 0 0 10px;
}

.btn {
    background: #eee;
    color: #fff;
    font-size:16px;
    padding: 10px 20px;
    text-decoration: none;
    border: 1px solid #ddd;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    min-width: 100px;
    display: inline-block;
    text-align: center;
}
.btn:hover {
    background: #ddd;
}


.red {
    border: 1px solid #ad1016!important;
    color: #FFF!important;
    text-shadow: 0 -1px 1px rgba(80, 138, 6, 0.8)!important;
    background-color: #ed1c24 2%;
    background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgi…3aWR0aD0iMTAwJSIgaGVpZ2h0PSIxMDAlIiBmaWxsPSJ1cmwoI2dyYWQpIiAvPjwvc3ZnPiA=');
    background-size: 100%;
    background-image: -webkit-gradient(linear,50% 0,50% 100%,color-stop(1%,#ff0000),color-stop(2%,#ed1c24),color-stop(100%,#ad1016));
    background-image: -webkit-linear-gradient(#ff0000 1%,#ed1c24 2%,#ad1016);
    background-image: -o-linear-gradient(#ff0000 1%,#ed1c24 2%,#ad1016);
    background-image: -moz-linear-gradient(#ff0000 1%,#ed1c24 2%,#ad1016);
    background-image: linear-gradient(#ff0000 1%,#ed1c24 2%,#ad1016);
}
.red:hover {
    background-color: #98080d 2%;
    background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgi…3aWR0aD0iMTAwJSIgaGVpZ2h0PSIxMDAlIiBmaWxsPSJ1cmwoI2dyYWQpIiAvPjwvc3ZnPiA=');
    background-size: 100%;
    background-image: -webkit-gradient(linear,50% 0,50% 100%,color-stop(1%,#ff0000),color-stop(2%,#ed1c24),color-stop(100%,#98080d));
    background-image: -webkit-linear-gradient(#ff0000 1%,#ed1c24 2%,#98080d);
    background-image: -moz-linear-gradient(#ff0000 1%,#ed1c24 2%,#98080d);
    background-image: -o-linear-gradient(#ff0000 1%,#ed1c24 2%,#98080d);
    background-image: linear-gradient(#ff0000 1%,#ed1c24 2%,#98080d);
}

.yellow {
    background: #ffde52;
    border-color: #e8c943;
    color: #444d00;
}
.yellow:hover {
    background: #474747;
    border-color: #2f2f2f;
    color: #ececec;
    text-shadow: 1px 0 0 #000;
}
.gray {
    background: #5d5c5c;
    border-color: #525252;
}
.gray:hover {
    background: #525252;
}
.btn-small {
    padding: 2px 10px;
    font-size: 12px;
}

label {
    font-size:16px;
    color: #666666;
    margin-bottom: 5px;
}

/*layout*/

a:focus {
    color: #ff0000;
    text-decoration: none;
}
.link {
    color: #ff0000;
}

.borderbox {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
/*footer {
   position:fixed;
   left:0px;
   bottom:0px;
   height:30px;
   width:100%;

   margin-top: 40px;
    background: #666;
    padding: 10px 0;
    color: #eee;
    }*/
    
    #footer {
        bottom: 0px;
        padding: 10px 0 1px 0;
        width: 100%;
        /*position: fixed;*/
    }
    #subfooter {
        background: rgba(0, 0, 0, 0) url("/assets/bg_subfooter.png") repeat-x 0 0;
        padding-top: 10px;
        margin-top: 40px;
    }
    #mainfooter {
        background: rgba(0, 0, 0, 0) url("/assets/bg_footer.png") repeat-x 0 0;
        padding-top: 10px;
        margin-top: -10px;
    }
    #subfooter>div {
        background-color: #D8ECFB;
        padding-bottom: 10px;
    }
    #mainfooter .footer {
        background-color: #000;
        text-align: left;
        color: #FFF;
        padding: 5px 0 5px 0;
    }
    .footerLinks {
        margin-top: 50px;
    }
    .footerLinks h2 {
        font-size: 14px;
        line-height: 20px;
        margin-bottom: 5px;
    }
    .footerLinks ul li {
        font-size:14px;
    }
    .footerLinks ul li a {
        color: #333;
        text-decoration: none;
        font-size:14px;
    }
    .footerLinks ul li a:hover {
        text-decoration: underline;
    }
    .for_mobile {
        float: left;
    }
    .for_mobile li {
        float: left;
        text-align: center;
        width: 55px;
    }
    .iphone_icon {
        width: 40px;
        height: 40px;
        clear: both;
        display: inline-block;
        background: url("/assets/for-mobile.png") -49px 0 no-repeat;
    }
    .ipad_icon {
        width: 40px;
        height: 40px;
        clear: both;
        display: inline-block;
        background: url("/assets/for-mobile.png") -97px 0 no-repeat;
    }
    .android_icon {
        width: 40px;
        height: 40px;
        clear: both;
        display: inline-block;
        background: url("/assets/for-mobile.png") 0px 0 no-repeat;
    }

    /*dashboard*/

    .dashboardIcons {
        width:100%;
        padding: 15px;
    }
    .dashboardIcons li {
        width:100px;
        float:left;
        border:1px solid #ddd;
        -moz-border-radius:5px;
        -webkit-border-radius:5px;
        border-radius:5px;
        padding:6px;
        margin:0 20px 20px 0;
        position: relative;
        background: #fff;
    }
    .dashboardIcons li a {
        display:block;
        background: #444;
    }
    .dashboardIcons li a:hover {
        background: #333;
        text-decoration: none;
    }
    .dashboardIcons li img {
        width:88px;
        height:88px;
        text-align:center;
    }
    .dashboardIcons li span {
        clear:both; 
        width:100%;
        text-align:center;
        display:block; 
    }
    .icon {
        width: 100px;
        height: 88px;
        display: block;
        background-image: url("/assets/icon-sprite.png");
        background-repeat: no-repeat;
    }
    .icon_dashboard {
        background-position: 5px 0;
    }
    .icon_leads {
        background-position: 5px -85px;
    }
    .icon_appointment {
        background-position: 5px -170px;
    }
    .icon_salesdata {
        background-position: 5px -260px
    }
    .icon_socialInviter {
        background-position: 5px -348px;
    }
    .icon_opt_in_lead {
        background-position: 5px -434px;
    }
    .icon_vip_leads {
        background-position: 5px -526px;
    }
    .icon_statistics {
        background-position: 5px -611px;
    }
    .icon_mall_item {
        background-position: 5px -702px;
    }
    .icon_daily_report {
        background-position: 5px -789px;
    }
    .icon_super_admin {
        background-position: 5px -872px;
    }
    .icon_setting {
        background-position: 5px -968px;
    }
    .upgrade {
        position: absolute;
        top: 0;
        left: 0;
        background:url("/assets/upgrade.png") 0 0 no-repeat;
        width: 40px;
        height: 40px;
    }
    .heading {
        background:#ffde52;
        -webkit-box-sizing: border-box; 
        -moz-box-sizing: border-box;    
        box-sizing: border-box;   
        font-size:24px;
        padding:0px 10px;
        text-align:center;
        margin:0;
    }
    .border {
        border:1px solid #ddd;
    }
    .form p {
        clear: both;
        width: 98%;
    }
    .form select {
        height:34px;
        border-radius: 0;
    }
    .form select:focus {
        box-shadow:none;
        border:1px solid #333;
        outline: none;
    }
    .form input[type="text"], .form input[type="password"], .form input[type="email"], .form input[type="search"] {
        height:24px;
    }
    .form input[type="text"]:focus, .form input[type="password"]:focus, .form input[type="email"]:focus, .form input[type="search"]:focus {
        box-shadow:none;
        border:1px solid #333;
    }

    body {
        background-color: #fff 320px;
        background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgi…pZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
        background-size: 100%;
        background-image: -webkit-gradient(linear,50% 0,50% 320,color-stop(0%,#9ECFF5),color-stop(100%,#FFF));
        background-image: -webkit-linear-gradient(#9ECFF5,#FFF 320px);
        background-image: -moz-linear-gradient(#9ecff5,#fff 320px);
        background-image: -o-linear-gradient(#9ecff5,#fff 320px);
        background-image: linear-gradient(#9ECFF5,#FFF 320px);
        background-repeat: no-repeat;
    }
    /*header*/
    header {
        box-shadow: 0 2px 12px #666666;
        color: #eee;
        padding: 0px 0;
        font-size: 16px;
        color: #FFF;
        width: 100%;
        background-color: #343434;

    }
    header h2 {
        margin: 0;
        font-size: 24px;
    }
    header h2 a {
        color: #fff;
    }
    .usernav {
        margin: 8px 30px 8px 0;
    }
    .usernav li {
        float: left;
        margin: 0 10px 0 0;
    }
    #headerNav {
        margin: -24px 0 10px;
    }
    #headerNav .navbar-inner {
        background: transparent;
        border: none;
    }
    #headerNav .nav > li > a {
        color: #fff;
        text-shadow: none;
        font-weight: bold;
        line-height: 16px;
        padding: 6px 15px;
        margin: 0 5px 0 0;
    }
    #headerNav .nav > li > a:hover, #headerNav .nav li a.active {
        color: #fff;
        background: #ff0000;
        text-decoration: none;
        text-shadow: none;
        border-radius: 5px;
    }
    #headerNav .btn-navbar {
        background: #ffde52;
        min-width: 18px;
    }
    #headerNav .btn-navbar span {
        background-color: #444d00;
    }
    .icon_login {
        background-color: #ff0000;
        border-radius: 30px;
        height: 15px;
        width: 15px;
        text-align: center;
        line-height: 20px;
        border:2px solid #ff0000;
        margin-right: 5px;
    }
    .usernav a {
        color: #fff;
    }
    .navbar-inner {
        min-height: 28px;
    }
    #headerNav .home_icon {
        background: url("/assets/home.png") 13px 5px no-repeat transparent;
        width: 54px;
        height: 46px;
        text-indent: -9999px;
    }
    #headerNav .nav > li > a.home_icon:hover, #headerNav .nav li a.home_icon.active {
        background: url("/assets/home.png") 22px 5px no-repeat transparent;
    }
    .punchline {
        margin: 5px 0 0 0px;
        font-weight: bold;
        position: absolute;
        left: 50%;
        width: 140px;
        margin-left: -70px;
    }

    /*footer*/
    .footer-nav li {
        display: inline;
        float: left;
        margin-right: 10px;
        color: #eee;
    }
    .footer-nav li a {
        color: #eee;
    }
    .footer-nav li a:hover {
        color: #fff;
        text-decoration: underline;
    }
    .copyrights {
        font-weight: normal;
        margin-bottom: 0;
    }
    .superscript {
        font-size: 6px;
        vertical-align: text-bottom;
    }


    /*lead*/
    .leadform label {
        width:40%;
        float: left;
    }
    .leadform input {
        width: 54%;
        float: left;
    }
    .leadform select {
        width: 58%;
        float: left;
    }
    .table {
        margin-bottom: 0;
    }
    .table thead {
        background: #333;
        color: #eee;
    }
    /*appointment*/
    .calender td.time {
        background: #212d3d !important;
        color: #eee;
        width: 80px;
    }
    .green_dark {
     background: #8dec84 !important;
 }
 .green_light {
    background: #c3f4bd !important;
}
.blue_dark {
    background: #5f8ae9 !important;
}
.blue_light {
    background: #b7ccfd !important;
}
.red_dark {
    background: #f98383 !important;
}
.red_light {
    background: #f9c3c3 !important;
}
.calender .table th, .calender .table td {
    border-top: 1px solid #333333;
}

/*sales data*/
.salesData {
    overflow: auto;
}
.salesData .table thead tr td input[type="text"] {
    width: 50px;
}
.salesData .table thead td {
    font-size: 12px;
}
.salesData .table tbody td {
    font-size: 12px;
    padding: 5px 2px;
}

.salesData .form .dollar {
    float: left;
}
.salesData .form .table input[type="text"]{
    padding: 0;
    width: 80px;
    font-size: 12px;
    height: 20px;
    margin-bottom: 0;

}
.salesData .form .table select {
    padding: 0;
    height: 22px;
    margin-bottom: 0;
}
.td100 {
    width: 100px;
}
.salesData .form .table .td100 input[type="text"] {
    width: 100px;
}
.td50 {
    width: 50px;
}
.salesData .subheading {
    padding: 10px 15px;
    margin: 0 0 0 0;
    background: #f0f0f0;
}
.salesReportData {
    clear: both;
}
.salesReportData .table tbody td {
    padding: 8px;
    font-size: 12px;
}

.new_report_btn{
    text-align: center;
    margin: 5px 25px 10px 0;
    
}
.new_report_btn{
    padding: 5px !important;
    font-size: 14px !important;
}

/*alert*/
.alert h6, .alert p {
    margin: 0;
}

/*opt filter*/
.optFilter span {
    vertical-align: middle;
    margin-right: 5px;
}
.optFilter select {
    width: 150px;
    margin-bottom: 0;
}
.optFilter input[type="search"] {
    margin-bottom: 0;
}

/*signin signup*/
.signupCon {
    margin: 40px auto 20px;
    box-shadow: 0 0 10px #ddd;
    border: 1px solid #D2D9DF;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    background: #fff;
}
.signupCon input {
    width: 60%;
    float: left;
}
.signupCon label {
    width: 30%;
    float: left;
    text-align: right;
    margin-right: 15px;
    font-weight: bold;
    color: #10334D;
}
.signupCon a {
    color:#3390E6;
}

.signupCon select {
    width: 62%;
    float: left;
}
.form_block {
    border-bottom: 1px solid #ddd;
    padding-bottom: 15px;
}
.signupCon .form_block {
    border-right: 1px solid #ddd;
    margin-bottom: 0;
    padding: 15px;
}
.signupCon .form_block h2 {
    font-weight: normal;
    float: left;
    clear: both;
    font-size:20px;
    font-weight: normal;
    color: #10334D;
    line-height: 30px;

}
.signupCon .trialInfo {
    float: left;
    width: 62%;
    color: #00B200;
}
.signupCon .checkboxCon {
    float: left;
    margin: 0 30px 15px 0;
    text-align: left;
    width: auto;
}
.signupCon .checkboxCon input {
    width: auto;
    margin-right: 5px;
}
.signupCon .input-small {
    width: 90px;
}
.signinCon {
    width: 500px;
    margin: 20px auto;
    box-shadow: 0 0 10px #ddd;
    padding: 15px;
}
.signinCon input[type="text"], .signinCon input[type="password"] {
    width: 98%;
}
.signinCon input[type="checkbox"] {
    margin: 0 5px 0 0;
}

.signupRight h2 {
    font-weight: bold;
    font-size:20px;
}
.priceDetail {
    border:1px solid #ddd;
    border-radius: 10px;
    padding: 15px 0 10px;
    text-align: center;
    min-width: 160px;
}
.priceDetail strong {
    font-size: 30px;
    border-bottom: 1px solid #ddd;
    width: 100%;
    display: block;
    padding-bottom: 10px;
}
.priceDetail p {
    font-size: 20px;
    line-height: 35px;
    margin-bottom: 0;
    color: #9FADB8;

}
.acceptTerms {
    background: #DCEFFC;
    padding: 20px 35px;
    margin-top: 30px;
}
.acceptTerms label {
    width: auto;
    font-size:20px;
    margin-top: 10px;
    font-weight: normal;
}

.acceptTerms input[type="checkbox"]{
    width: auto;
    margin-right: 10px;
}
.green {
    border: 1px solid #367A34!important;
    color: #FFF!important;
    text-shadow: 0 -1px 1px rgba(80, 138, 6, 0.8)!important;
    background-color: #8ac835 2%;
    background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgi…3aWR0aD0iMTAwJSIgaGVpZ2h0PSIxMDAlIiBmaWxsPSJ1cmwoI2dyYWQpIiAvPjwvc3ZnPiA=');
    background-size: 100%;
    background-image: -webkit-gradient(linear,50% 0,50% 100%,color-stop(1%,#C2E387),color-stop(2%,#8AC835),color-stop(100%,#5DA206));
    background-image: -webkit-linear-gradient(#C2E387 1%,#8AC835 2%,#5DA206);
    background-image: -moz-linear-gradient(#c2e387 1%,#8ac835 2%,#5da206);
    background-image: -o-linear-gradient(#c2e387 1%,#8ac835 2%,#5da206);
    background-image: linear-gradient(#C2E387 1%,#8AC835 2%,#5DA206);
    color: #fff !important;
    text-shadow: 0 0 0 #4F8905;
}
.green:hover {
    background-color: #4F8905;
    background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgi…pZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
    background-size: 100%;
    background-image: -webkit-gradient(linear,50% 0,50% 100%,color-stop(0%,#8AC835),color-stop(100%,#4F8905));
    background-image: -webkit-linear-gradient(#8AC835,#4F8905);
    background-image: -moz-linear-gradient(#8ac835,#4f8905);
    background-image: -o-linear-gradient(#8ac835,#4f8905);
    background-image: linear-gradient(#8AC835,#4F8905);
}

.number {
    background: #00B200;
    text-align: center;
    border-radius: 30px;
    color: #eee;
    margin-right: 10px;
    font-size: 22px;
    line-height: 30px;
    height: 30px;
    width: 30px;
    display: inline-block;
    float: left;
}
.signup_heading h3 {
    padding-top: 50px;
    font-size: 48px;
    line-height: 1;
    text-transform: none;
    font-weight: normal;
    font-family: arial;
    color: #333;
}
.signup_heading h4 {
    font-size: 30px;
    color: #00B200;
    font-weight: normal;
}
.city_input {
    width: 224px !important;
}
.city_label {
    width: 40px !important;
}

/*testimonial*/
.testimonial {
    color: #8799A6;
    font-size: 15px;
    line-height: 24px;
    font-style: italic;
    margin-bottom: 20px;
}
.testimonial p {
    margin-bottom: 0;
}
.absblock {
    color: #00B200;
    margin-left: 20px;
}
.absblock h3 {
    margin-bottom: 0;
    font-size: 20px;
}
#user_counter span {
    font-size: 40px;
    font-weight: 200;
    display: block;
    line-height: 1.4em;
}
#user_counter p {
    font-size:20px;
}
#payment_logos {
    margin-top: 40px;
}
.icon-largest {
    background: url("/assets/thank-you.png") no-repeat 0 0;
    width: 128px;
    height: 128px;
}
.badge {
    position: absolute;
    top: -35px;
    right: -40px;
    padding: 32px 0 0 0;
    text-indent: 0;
    height: 84px;
    text-align: center;
    color: #FFF;
    letter-spacing: 1px;
    line-height: 18px;
}
.badge span {
    font-size: 17px;
    font-weight: 500;
    display: block;
    margin-left: -2px;
    -webkit-transform: rotate(15deg);
    -moz-transform: rotate(15deg);
}

.signupRight h2{
    margin-left: 20px;
}
.signupRight .testimonial{
    margin-left: 20px;
}
/*mall item*/
.edit_icon {
    background: url("/assets/edit-icon.png") 0 0 no-repeat;
    width: 30px;
    height: 30px;
    display: block;
    opacity: 0.5;
    margin-right: 5px;

}
.edit_icon:hover {
    opacity: 1;
}
.delete_icon {
    background: url("/assets/delete-icon.png") 0 0 no-repeat;
    width: 30px;
    height: 30px;
    display: block;
    opacity: 0.5;
}
.delete_icon:hover {
    opacity: 1;
}

/*slider*/
.list_carousel {
    background-color: #eee;
    margin: 0 0 30px 60px;
    width: 360px;
}
.list_carousel ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: block;
}
.list_carousel li {
    font-size: 40px;
    color: #999;
    text-align: center;
    background-color: #eee;
    width: auto;
    height: 300px;
    padding: 0;
    margin: 6px 10px 6px 10px;
    display: block;
    float: left;
}
.list_carousel.responsive {
    width: auto;
    margin-left: 0;
}
.clearfix {
    float: none;
    clear: both;
}
.prev {
    float: left;
    margin-left: 10px;
}
.next {
    float: right;
    margin-right: 10px;
}
.pagination ul {
    box-shadow: none !important;
}
.pager {
    float: left;
    width: 300px;
    text-align: center;
}
.pager a {
    margin: 0 5px;
    text-decoration: none;
}
.pager a.selected {
    text-decoration: underline;
}
.timer {
    background-color: #999;
    height: 6px;
    width: 0px;
}
.caroufredsel_wrapper {
    overflow-x: auto !important;
}
.sliderCon {
    padding: 15px;
}

/*pricing table*/
.bg_none {
    background: transparent !important;
}
.user_filter {
    font-size:18px;
    margin-left: 180px;
}
.user_filter a {
    color: #666;
    text-decoration: underline;
    line-height: 24px;
}
.user_filter a:hover {
    text-decoration: none;
}
.pricing_plans_heading h2 {
    color: #ff0000;
    font-size: 44px;
    font-family: arial;
    text-shadow: 0 0 2px #FFF;

}
.pricing_plans_heading h3 {
    color:#000;
    text-transform: none;
    font-weight: normal;
    font-size: 30px;
}


/*social inviter*/
.social_inviter div p {
    width: auto;
    float: left;
    clear: none;
    margin-right: 15px;
}
.social_inviter label {
    width: auto;
}
.social_inviter div {
    clear: both;
}
.process_steps {
    float: left;
    width: 100%;
    margin-bottom: 15px;
}
.process_steps .step-title{
    float: left;
    border-radius: 0;
}
.process_steps .btn {
    background-color: #5BB75B;
    background-image: linear-gradient(to bottom, #62C462, #51A351);
    background-repeat: repeat-x;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    color: #FFFFFF;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}
.email_icon {
    float: left;
    background: url("/assets/mail-icon.png") 0 0 no-repeat;
    width: 100px;
    padding-left: 120px;
}
.facebook_icon {
    float: left;
    background: url("/assets/facebook-icon.png") 0 0 no-repeat;
    width: 100px;
    padding-left: 120px;
}

.yahoo_icon {
    float: left;
    background: url("/assets/yahoo-icon.jpg") 0 0 no-repeat;
    width: 100px;
    padding-left: 170px;
}

.twitter_icon {
    float: left;
    background: url("/assets/twitter-icon.png") 0 0 no-repeat;
    width: 100px;
    padding-left: 120px;
}
.social_options {
    clear: both;
    float: left;
    width: 100%;
}
.social_options h3 {
    text-transform: none;
    font-size:20px;
}
.social_options ul li {
    float: left;
    background: #f1f1f1;
    padding:10px;
    margin-right: 10px;
    margin-bottom: 10px;
    border-radius: 3px;
    border:1px solid #ddd;
}
.social_options ul li a {
    color: #666;
    margin-right: 15px;
    font-size:16px;
    min-width: 150px;
    padding-top: 20px;
    height: 80px;
}
.pre_formated_email {
    float:left;
    background: #f5f5f5;
    padding: 15px;
    border-radius: 5px;
    width: 100%;
}
.email_msg {
    border: 1px solid #ddd;
    padding: 5px;
}
.email_example {
    background: #f1f1f1;
    border: 1px solid #ddd;
    padding: 15px;
}
.email_example h3 {
    text-transform: none;
}
.pre_formated_email h3 {
    text-transform: none;
}

/*dashboard*/
.salesRep {
    float: left;
    width: 100%;
}
.salesRep h3 {
    text-transform: none;
}
.salesRep .list {
    float: left;
    width: 100%;
    height: 294px;
    overflow: auto; 
}
.salesRep .list li {
    background-color: #fff;
    padding: 10px;
    clear: both;
    width: 100%;
    float: left;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border-bottom: 1px solid #ddd;
}
.salesRep .list li:nth-child(odd){
    background-color: #F9F9F9;
}
.salesRep .list li div.name {
    background: #333;
    padding: 10px;
    margin: 10px 0 0 -10px;
    min-width: 130px;
    -moz-border-radius: 0 3px 3px 0;
    -webkit-border-radius: 0 3px 3px 0;
    border-radius: 0 3px 3px 0;
}
.salesRep .list li span {
    float: left;
    clear: both;
}

.salesRep .salesPrsn {
    float: left;
    margin-right: 10px;
}
.salesRepData {
    float: left;
    width: 100%;
    position: relative;
    background: #333;
}
.salesRepUser {
    position: absolute;
    top: 5px;
    left: 5px;
    width: 100%;
}
.salesRepUser .salesPrsn {
    width: 88px;
    height: 88px;
    float: left;
    margin-right: 10px;
}
.salesRepUser .name span {
    float: left;
    clear: both;
}
.sales_data_filter {
    float: left;
    position: absolute;
    bottom: 10px;
    left: 10px;
    color: #fff;
}
.sale_statistic_data {
    padding: 44px 0 20px 100px;
    float: left;
    width: 100%;
    -moz-box-sizing:border-box;
    box-sizing:border-box;
}
.sale_statistic_data li {
    float: left;
    width: 180px;
    margin-right: 8% !important;
    color: #fff;
}
.sale_statistic_data li span {
    display: block;
    text-align: center;
    clear: both;
}
.gauge {
    width: 180px;
    height: 180px;
    float: left;
    background: url("/assets/gauge.png") 0 0 no-repeat;
    position: relative;
    margin-bottom: 10px;
}
.gauge_arrow {
    position: absolute;
    top: 84px;
    left: 18px;
    transform: rotate(30deg);
    -ms-transform: rotate(30deg); /* IE 9 */
    -webkit-transform: rotate(30deg); /* Safari and Chrome */
}
.total_leads {
    text-align: center;
    margin-top: 5px;
}
.total_leads span {
    display: block;
    text-align: center;
    clear: both;
}

.total_leads .gauge {
    float: none;
    margin: 0 auto 10px;
}
.total_leads span.gauge_arrow {
    display: inline;
    margin: 0;
}
.dashboardpage .dashboardIcons {
    padding: 15px 0;
}
.dashboardpage .dashboardIcons li {
 margin: 0 10px 10px 0;
}
.payment_success {
    margin: 0 auto 150px !important;
    width: 800px;
}

/*welcome page*/
.welcome_con {
    width: 100%;
    background: #000;
    min-height: 500px;
    padding: 20px 0;
}
.home_video {
    margin-top: 100px;
}
.welcome_heading {
    text-align: center;
    height: 8px;
    background: #fff;
    width: 430px;
    margin: 43px auto 0;
}
.welcome_heading h3 {
    background: none repeat scroll 0 0 #000000;
    display: inline;
    padding: 0 10px;
    position: relative;
    top: -11px;
    font-size: 26px;
}
.welcome_heading_2 {
    font-size: 40px;
    text-align: center;
    color: #fff;
    margin-top: 20px;
}
.charter_presale {
    margin-top: 80px;
}
.charter_presale h3 {
    font-weight: normal;
    font-size: 26px;
    color: #fff;
    text-transform: none;
    margin-bottom: 0;
}
.charter_presale li {
    font-size:20px;
    line-height: 24px;
    color: #fff;
}
.ending_soon {
    margin-top: 50px;
    text-transform: none;
    color: #fff;
    font-weight: normal;
}

.orangebtn {
    background: #ff3904;
    background: -moz-linear-gradient(0% 100% 90deg, #622919, #ff3904);
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#622919), to(#ff3904));
    border-top: 1px solid #3e3e3e;
    border-right: 1px solid #3e3e3e;
    border-bottom: 1px solid #3e3e3e;
    border-left: 1px solid #3e3e3e;
    -moz-border-radius: 20px;
    -webkit-border-radius: 20px;
    border-radius: 20px;
    -moz-box-shadow: 0 4px 8px #3E3E3E;
    -webkit-box-shadow: 0 4px 8px #3E3E3E;
    box-shadow: 0 4px 8px #3E3E3E;
    color: #FFF;
    font-size: 16px;
    font-weight: normal;
    line-height: 1;
    padding: 20px 25px;
    text-align: center;
    text-shadow: 0 -1px 1px #3e3e3e;
    min-width: 200px;
    -webkit-background-clip: padding-box;
    position: relative;
}

.orangebtn:hover {
    background: #622919;
    background: -moz-linear-gradient(0% 100% 90deg, #622919, #ff3904);
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#622919), to(#ff3904));
    border-top: 1px solid #3E3E3E;
    border-right: 1px solid #3E3E3E;
    border-bottom: 1px solid #3E3E3E;
    border-left: 1px solid #3E3E3E;
    -moz-box-shadow: inset 0 1px 0 0 #3E3E3E;
    -webkit-box-shadow: inset 0 1px 0 0 #3E3E3E;
    cursor: pointer;
    text-shadow: 0 -1px 1px #3E3E3E;
    -webkit-background-clip: padding-box;
    color: #fff;
}
.orangebtn:before {
    background: #fff;
    background: -moz-linear-gradient(0% 100% 90deg, rgba(255, 255, 255, 0), #fff);
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(rgba(255, 255, 255, 0)), to(#fff));
    content: " ";
    height: 12px;
    left: 20px;
    position: absolute;
    top: 4px;
    width: 212px;
    border-radius: 10px;
}
.width_full {
    width: 100%;
}
.welcome_page h2 {
    font-size:40px;
    font-weight: normal;
    margin-bottom: 20px;
}
.welcome_page h3 {
    font-size:30px;
    font-weight: normal;
    text-transform: none;
}
.light {
    background: #fff;
    padding: 20px 0;
}
.dark {
    background: #454545;
    color: #fff;
    padding: 20px 0;
}
.light_gray {
    background: #f4f4f4;
    padding: 20px 0;
}
.dark h3 {
    color: #fff;
}
.font_20 {
    font-size: 20px;
    line-height: 24px;
}
.welcome_icons {
    text-align: center;
}
.welcome_icons h3 {
    color: #333;
}
.client_img {
    background: url("/assets/client_img.png") 0 0 no-repeat;
    width: 120px;
    height: 120px;
    margin-bottom: -20px;
    padding: 13px 0 0 14px;
    position: relative;
    top: 20px;
}
.client_img img {
    -moz-border-radius: 50px;
    -webkit-border-radius: 50px;
    border-radius: 50px;
}
.blockquote {
    background: url("/assets/blockquote.png") 0 0 no-repeat;
    padding-left: 75px;
    min-height: 46px;
    margin-top: 24px;
    font-size:16px;
    color: #666;
    margin-left: -30px;
}

.pdl15 {
    padding-left: 15px;
}
#preview_wrap {
    margin: 0 auto;
    padding: 22px;
    width: 550px;
    height: 400px;
    background: url('/assets/bg_preview.png') top left no-repeat;
}
#preview_outer {
    overflow: hidden;
    width: 550px;
    height: 400px;
    position: relative;
}
#preview_inner {
    text-align: left;
    height: 100%;
    position: relative;
}
.sliderArea {
    position: relative;
    height: 600px;
}
#preview_inner div {
    float: left;
    width: 550px;
    height: 400px;
    position: relative;
}
#preview_inner div a {
    position: absolute;
    bottom: 0;
    left: 0;
    display: block;
    width: 100%;
    text-indent: 20px;
    padding: 20px 0;
    color: #FFF;
    background: url(/assets/bg_trans.png);
    text-decoration: none;
    font-size: 18px;
    font-family: 'Arial', sans-serif;
}
#thumbs {
    padding-top: 30px;
    margin-left: -65px;
    position: relative;
    width: 750px;
    text-align: center;
}
#arrow {
    position: absolute;
    top: -13px;
    background: url('/assets/bg_arrow.png') top center no-repeat;
    width: 104px;
    height: 39px;
    display: none;
}
#thumbs span {
    padding: 12px;
    width: 80px;
    height: 80px;
    cursor: pointer;
    background: url('/assets/bg_thumb.png') top left no-repeat;
    display: inline-block;
    vertical-align: top;
}
#thumbs {
    text-align: center;
}
.welcome_slider h3 {
    font-size:16px;
    color: #333;
    font-weight: bold;
    margin-bottom: 0;
    line-height: 20px;
}
.welcome_slider {
    width: 100%;
}
.welcome_slider li {
    float: left;
    width: 260px;
    min-height: 78px;
    margin-right: 10px;
}
.welcome_slider li span {
    float: left;
    width: 68px;
}
.welcome_slider .superscript {
    font-size: 10px;
    line-height: 22px;
}
.welcome_slider p {
    line-height: 16px;
    float: left;
    width: 190px;
    font-size: 13px;
}

.wrapper{
    margin-top:15px;
}

/*gauges*/
.gaugeValue {
    padding: 10px;
    color: #333;
}
.jqx-gauge-label{
    font-size: 10px !important;
}

/*landing pages*/
.landing_pages {
    margin: 40px auto 20px;
    box-shadow: 0 0 10px #ddd;
    border: 1px solid #D2D9DF;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    background: #fff;
    padding:20px;
}
.landing_pages .form_block {
    border-bottom: 0;
}
.landing_pages form {
    margin-left: 40px;
}
.landing_pages form div {
    width: 100%;
    margin-bottom: 15px;
}
.landing_pages form label {
    font-weight: bold;
    line-height: 30px;
    margin-left: -40px;
}
.landing_pages form textarea {
    font-weight: normal;
}
.landing_pages form textarea:focus {
    border: 1px solid #333333;
}
.landing_pages form {
    margin-top: 50px;
}
.landing_pages .numberOfDays {
    width: 100px;
}
.landing_pages .header_color {
    width: 100%;
    display: block;
    background: #e59c11;
    height: 30px;
    border: 1px solid #ddd;
}
.landing_pages .background_color {
    width: 100%;
    display: block;
    background: #62819d;
    height: 30px;
    border: 1px solid #ddd;
}
.landing_pages img {
    width: 100%;
}


/*logo listing*/
.logo_listing {
    background: #fff;
    float: left;
    width: 100%;
    padding: 20px;
}
.logo_con {
    width: 160px;
    padding: 15px;
    border-radius: 3px;
    background: #fff;
    float: left;
    margin: 0 15px 15px;
    border:1px solid #ddd;

}
.logo_con img {
    padding: 3px;
    border: 1px solid #ddd;
    border-radius: 3px;
}
.logo_con .action_btn {
    width: 100%;
    margin-top: 5px;
}
.logo_con .action_btn a {
    min-width: 20px;
    padding: 4px 5px;
    margin:0 1px;
    font-size: 14px;
}
.logo_con .action_btn a i {
    margin-right: 5px;
}

/*responsive styles*/
@media (max-width: 767px){
    .no-space [class*="span"]{
        width: 90%;
        margin: 0 auto !important;
    }
    .pricing_table .table {
        border-right: 1px solid #DDDDDD;
    }
}


.pricingMallText{
    font-weight: normal;
    font-size: 11px;
    font-style: normal;
}

.leadAssignSelect{
 background: none repeat scroll 0 0 #FFFFFF;
 border: 1px solid #DDDDDD;
 height: 45px;
 padding: 7px;
 width: 56%;
 font-size: 20px;
 margin-top: 35px;
}

.hide{
    display: none;
}

.flashes{
    font-size: 17px;
    text-align: center;
    width: 50%;
    font-weight: bold;
    position: fixed;
    top: 80px;
    left:24%;
}

.w27{
    width:27%;
}
.leadActive select,.userActive select{
    height: 22px;
    margin-bottom: -2px;
    padding: 3px 0 0;
    width: 60px;
    font-size: 10px;
}

.leadActive span, .userActive span{
    cursor: pointer;
}

.popup_container{
    border:1px solid green;
    border-radius:5px;
    text-align:center;
    display:none;
    float: left;
}

.small_popup{
    width:400px;
    height:200px;
    margin-top:15px;
}

.big_popup{
    width:400px;
    height:400px;
}

.loader_margin{
    margin-top:35%;
}
.sm_loader_margin{
    margin-top:20%;
}

.margin_width{
    width:350px;
    margin-top:10px
}
.filter_select {
    height: 30px;
    width: 20%;
}
.leadHeading{
    margin-bottom: -10px;
    text-align: right;
}

.leadHeading input{
    width: 28%;
    margin-bottom: 17px; 
}

.viewLead{
    cursor: pointer;
}

.app_header{
    margin-top: 12px !important;
}

.leadFilterByName {
    height: 32px;
    padding: 4px 4px;
    width: 28%;
    border-radius: 5px;
}

#test { -webkit-border-radius: 20px; }

#address_country{
    width:25%;
}
#credit_card{
    width:25%;   
}
.w19{
    width: 19% !important;
}
.date_app{
    width:90px;
}
.text_fb{
    width: 120px;
}

#share {
    border:1px solid #0D386F;
    background-color:#5D7DAE;
    height:24px;
    width: 100px;
}

#share a.click {
    font-size:13px;
    font-weight:bold;
    text-align:center;
    color:#fff;
    border-top:1px solid #879DC2;
    background-color:#5D7DAE;
    padding: 2px 10px;
    cursor: pointer;
    text-decoration:none;
    width:80px;
    display:block;
}

.hide{
    display: none;
}
.red_signup{
    background:red;
}
.red_signup:hover{
    background:red;
}
.black_link{
    color:#000;
}
.signin_checkbox{
    float: left;
    margin:2px 5px 0 0 !important;
}
.signin_label{
    float: left;
}


.terms_page{
    font-size: 14px;
    font-weight: bold;
}
.blue_link{
    color:blue;
}

.taskAssign{
    width:50%;
    margin-top: 20px;
    margin-bottom: 20px;
}

.taskAsgn input{
    width:50%;
    margin-bottom: 20px;
}

.w10{
    height: 10%;
    padding: 7px 0;
    width: 17%;
}
.social_invite{
    width:30%;
    height:auto;
    text-align: center;
    margin-left: 30%;
}
.tw_height{
    height: 280px !important;
}
.previous_page{
    text-align: center !important;
    background-color: rgb(255, 255, 255)!important;
    border: 1px solid rgb(221, 221, 221)!important;
    border-radius: 15px 15px 15px 15px !important;
    display: inline-block;
    padding: 5px 14px !important;
    width:60px !important;
    margin-right: 8px !important;
}
.next_page{
    text-align: center !important;
    background-color: rgb(255, 255, 255)!important;
    border: 1px solid rgb(221, 221, 221)!important;
    border-radius: 15px 15px 15px 15px !important;
    display: inline-block;
    padding: 5px 14px !important;
    width:60px !important;
    margin-left: 8px !important;

}
.nav_second{
    margin-top: 15px !important;
}
.app_index{
    width: 15%;
    font-weight: bolder;
    font-size: 14px;
}
.twitter_div {
    border: 1px solid #ddd;
    padding: 5px;
    width: 100%;
    /*height: 160px;*/
    margin-bottom: 12px;
    background-color: #EEEEEE;
}
.fb_social_height{
    width: 50%;
}

/*setting links*/
.settings_menu {
    float: left;
    width: 100%;
}
.settings_menu li {
    float: left;
    margin-right: 10px;
    margin-bottom:15px;
}
.settings_menu li a {
    width: 250px;
    padding: 15px 15px;
}
.container {
    min-height: 500px;
}
header .container {
    min-height: 1px;
}
.footer .container {
    min-height: 1px;
}

.mr2{
    margin:2px !important;
}

.creation {
    padding-bottom: 5px;
}
.gaugemargin li{
    margin-right: 1% !important;
}
.decoration {
    color: #fff;
    background: #ff0000;
    text-decoration: none;
    text-shadow: none;
    border-radius: 5px;
}
.passhead {
    padding-top: 10px;
}
.mh60{
    min-height: 60px;
}

.user78{
    max-height: 78px;
    max-width: 78px;
}
#leadgauge{
    height: 185px !important;
}
.cal_design .datepicker-inline{
    width: 235px;
}

.cal_design .datepicker{
    background: none repeat scroll 0 0 lightblue !important;
    padding: 28px !important;
}

#error_explanation {
    background: none repeat scroll 0 0 #DCB8B8 !important;
    float: left;
    margin-bottom: 20px;
    padding: 7px 7px 0;
    width: 90%;
    float:left;
}

#error_explanation h2 {
    background-color: none !important;
    color: #BF5254;
    float: left;
    font-size: 12px;
    font-weight: bold;
    line-height: 20px !important;
    margin: 0;
    padding: 0;
    text-align: left;
}

#error_explanation > ul {
    clear: both !important;
    float: left !important;
    list-style: none outside none;
}

#error_explanation ul li {
    font-size: 12px;
    list-style: none !important;
}

.pop_yellow_btn{
    margin:0 22px 0-12px;
    background:none repeat scroll 0 0 #FFDE52;
    padding:10px;
    border-radius:5px;
    cursor:pointer;
    color: #444444;
}

.pos_rel{
	position:relative;
}

.unsub_msg{
    margin-top: 30px;
    font-size: 20px;
    text-align: center;
}

/* new css 17-04-2014 */
.menuView {

}
.menuView .dashboardIcons {
    padding:0;
}
.menuView .dashboardIcons li {
    width:100%;
    padding:0;
    margin-bottom:0px;
    float:left;
    border:none;
    border-bottom:1px solid #ddd;
}
.menuView .dashboardIcons li a {
    overflow:hidden;
}
.w40 {
    min-width:40px !important;
}
.menuView .dashboardIcons li .icon {
    width:40px;
    background-size:96%;
    height:40px;
    float:left; 
    margin-right: 10px;
}
.menuView .dashboardIcons li span {
    float:left;
    text-align:left;
    width:auto;
    clear:none;
    line-height:40px;
}
.menuView .dashboardIcons li .icon_setting {
    background-position: 5px -422px;
}
.menuView .dashboardIcons li .icon_dashboard {
    background-position: 5px 2px;
}
.menuView .dashboardIcons li .icon_leads {
    background-position: 5px -38px;
}
.menuView .dashboardIcons li .icon_appointment {
    background-position: 5px -75px;
}
.menuView .dashboardIcons li .icon_salesdata {
    background-position: 5px -115px;
}
.menuView .dashboardIcons li .icon_socialInviter {
    background-position: 5px -154px;
}
.menuView .dashboardIcons li .icon_opt_in_lead {
    background-position: 5px -190px;
}
.menuView .dashboardIcons li .icon_vip_leads {
    background-position: 5px -231px;
}
.menuView .dashboardIcons li .icon_statistics {
    background-position: 5px -268px;
}
.menuView .dashboardIcons li .icon_mall_item {
    background-position: 5px -307px;
}
.menuView .dashboardIcons li .icon_daily_report {
    background-position: 5px -346px;
}
.menuView .dashboardIcons li .icon_super_admin {
    background-position: 5px -383px;
}
.font-12 {
    font-size:12px;
}

.green_table_strip td {
    background:#88ffb2 !important;
}
.red_table_strip td {
    background:#ff8888 !important;
}
.yellow_table_strip td {
    background:#fff799 !important;  
}



