 <table class="table table-striped">  
    <thead>
        <tr>
          <td style="width: 20%;">Time</td>
          <td> Appointment </td>
        </tr>
    </thead>
        <tbody>
            <% @filter_appointment.each do |a| %>
              <tr>
               <td class="time"><%= a.app_time %></td>
                 <td class="green_dark">
                     <ul>
                        <li><strong>Member:</strong> <%= a.name %>  </li>
                        <li><strong>Phone:</strong> <%= a.phone %> </li>
                        <li><strong>Notes:</strong> <%= a.notes %> </li>
                        <li><strong>Submitted by:</strong>Golds Gym</li>
                      </ul>
                      </td>
              </tr>
              <% end %> 
        </tbody>

  </table>
