 <table class="table table-striped">  
    <thead>
        <tr>
          <td style="width: 20%;">Time</td>
          <td >Appointment </td>
        </tr>
    </thead>
        <tbody>
            <% @tym.each do |k,v| %>
              <tr>
               <td class="time"><%= k %></td>
                <% v.each do |a,b| %>
                   <td class="green_dark">
                      
                       <ul>
                              <li><strong>Member:</strong> <%= b.values[1] %>  </li>
                              <li><strong>Phone:</strong> <%= b.values[2] %> </li>
                              <li><strong>Notes:</strong> <%= b.values[3] %> </li>
                              <li><strong>Submitted by:</strong>Golds Gym</li>
                          </ul>
                      </td>
                    <% end %>
              </tr>
              <% end %> 
        </tbody>

  </table>
