<div class="container wrapper">
    <div class="row-fluid">
      <div class="span4" style="width:27.624%">
      <div class="border">
            <h2 class="heading">View Reports By Day</h2>
            <div class="pd15 cal_design" id="appCalender">
            </div>
          </div>
        </div>
        <div class="span8" style="width:69.812%">
            <div class="border calender">
                <h2 class="heading">Appointments</h2>
                 <div class="heading leadHeading">
                   <%= text_field_tag 'date_filter', nil, :class=>"date_app", :placeholder=>"Search by Date" %> 
                 </div>
                   <div id= "appt_table">
                     <%= render 'index' %>
                  </div>
               </div>
        </div>
    </div>
</div>