
<h2>Successfull Lead Generation Is Second Away...<br/>
Before we can activate your trial we must verify that you are a real person.</h2>
<p>We are going to send an email to <%=@user.email%> with a link to activate your account. Do you have access to this email account.</p>
<div class="ml25">
<span class="allow_email">Yes, I have access to email provided.</span>
<span class="allow_email unallow_email">No, I don't have access to email provided.</span>
</div>