
<div class="modal-header">
        <button type="button" class="close cancelFancybox" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h3>Invite Friends Via Facebook</h3>
    </div>
    <div class="modal-body">
        <table class="table table-striped">
            <thead>
                <tr><td>#</td><td>Name</td><td></td></tr>
            </thead>
            <tbody>
              <%if @fbfreinds.present?%>
                <% @fbfreinds.each do |contact| %>
                  <tr>
                    <td><%=check_box_tag "freindId_#{contact[1][:username]}", 'yes', false, :class => 'fbchekbox' %></td>
                    <td class="email_label"><%=contact[1][:name]%></td>
                    <td></td>
                  </tr>
                <%end%>
              <%end%>
            </tbody>
        </table>
    </div>
    <div class="modal-footer">
        <p class="sendFbmail"><a class="btn yellow" href="javascript:void(0)">Send Invitations</a></p>
    </div>
