
						<p>
							<label></label>
							<% if DiscountsOnPeriod.all %>
							<% DiscountsOnPeriod.all.each do |dp| %>
							<label class="checkboxCon">
								<%= radio_button_tag 'planType', "#{dp.id}",:class => "plant #{dp.periodType}"%>
								<strong>Pay 
									<%= "#{dp.periodType}"%>
									<%if dp.discountPercentage > 0%>
									(save <%="#{dp.discountPercentage}" %>%)
									<%end%>
								</strong>
							</label>
							<% end %>
							<% end %>
						</p>
						<p><label></label><span class="trialInfo"><strong>14-day Free Trial</strong> - Charter Members payment will be processed today but will have a 14-day trial from today.
                                    <!-- our official launch date on or around 12-16-2013 --></span></p>
                                    <div class="clear"></div><hr>
						<p>
							<label></label>
							<label class="checkboxCon">
								<input type="radio" name="paymentOptionRadio" checked="checked" class="creditCard"> <strong>Credit card</strong>
							</label>
							<!-- <label class="checkboxCon">
								<input type="radio" name="paymentOptionRadio" class="coupon"><strong>Coupon</strong>
							</label> -->
						</p>
						
                         <div class="clear"></div>
                         