
<span class="credit_fild_col">
	<label></label>
	<% if DiscountsOnPeriod.all %>
	<% DiscountsOnPeriod.all.each do |dp| %>
	<label class="checkboxCon">
		<%= radio_button_tag 'planType', "#{dp.id}",:class => "plant #{dp.periodType}"%>
		<strong>Pay 
			<%= "#{dp.periodType}"%>
			<%if dp.discountPercentage > 0%>
			(save <%="#{dp.discountPercentage}" %>%)
			<%end%>
		</strong>
	</label>
	<% end %>
	<% end %>
</span>
<div class="clear"></div>
<hr>
