<div id="dashboardPopup" class="popup_container">
  <div class="big_popup" id="viewItem">
    <img src="/assets/ajax-loader.gif" class="loader_margin"/>
  </div>
</div>
<div id="leadAssignPopup" class="popup_container">
  <div id="assignLeadSelect" class="small_popup">
    <img src="/assets/ajax-loader.gif" class="loader_margin"/>
  </div>
</div>
<div id="gmailContactsPopup" class="popup_container" style="width:520px;height:600px;border:none;">
  <div id="gmailcontacts" class="big_popup">
    <img src="/assets/ajax-loader.gif" class="loader_margin"/>
  </div>
</div>
<div id="createTask" class="popup_container" style="height:350px">
  <div id="createtask" class="small_popup">
    <img src="/assets/ajax-loader.gif" class="loader_margin"/>
  </div>
</div>
<div id="deleteLeadPopup" class="popup_container">
<div style="font-size:20px;text-align:center;" id="deleteContent" class="small_popup">
  <span style="font-weight:bold;">Are You Sure want to delete this lead.
    <div style="margin-top: 100px;">
    	<span style="margin:0 22px 0-12px;background:none repeat scroll 0 0 #FFDE52;padding:10px;border-radius:5px" class="leadDeleteBtn">Delete</span>
    	<span style="margin:0 22px 0-12px;background:none repeat scroll 0 0 #FFDE52;padding:10px;border-radius:5px;" class="cancelFancybox">Cancel</span>
	</div>
  </span>
</div>
</div>

<div id="contactDetails" class="popup_container">
  <div id="showContact" class="small_popup">
    <img src="/assets/ajax-loader.gif" class="loader_margin" />
  </div>
</div>

<div id="viewPopup" class="popup_container">
  <div id="myModal" class="modal" style="z-index:99999;">
    <img src="/assets/ajax-loader.gif" style="margin:35%" />
  </div>
</div>

<div id="deleteMallPopup" class="popup_container">
<div style="font-size:20px;text-align:center;" id="dltmall" class="small_popup">
  <span style="font-weight:bold;">Are You Sure want to delete this Item.
    <div style="margin-top: 100px;">
      <span style="margin:0 22px 0-12px;background:none repeat scroll 0 0 #FFDE52;padding:10px;border-radius:5px" class="mallBtn">Delete</span>
      <span style="margin:0 22px 0-12px;background:none repeat scroll 0 0 #FFDE52;padding:10px;border-radius:5px;" class="cancelFancybox">Cancel</span>
  </div>
  </span>
</div>
</div>

