<div id="dashboardPopup" class="popup_container">
  <div class="big_popup" id="viewItem">
    <img src="/assets/ajax-loader.gif" class="loader_margin"/>
  </div>
</div>
<div id="leadAssignPopup" class="popup_container">
  <div id="assignLeadSelect" class="small_popup">
    <img src="/assets/ajax-loader.gif" class="loader_margin"/>
  </div>
</div>
<div id="gmailContactsPopup" class="popup_container">
  <div id="gmailcontacts" class="modal" style="z-index:99999;top:3%">
    <img src="/assets/ajax-loader.gif" style="margin:35%" />
  </div>
</div>
<div id="createTask" class="popup_container" style="height:430px">
  <div id="createtask" class="small_popup">
    <img src="/assets/ajax-loader.gif" class="loader_margin"/>
  </div>
</div>
<div id="deleteLeadPopup" class="popup_container">
  <div style="font-size:20px;text-align:center;" id="deleteContent" class="small_popup">
    <span style="font-weight:bold;">Are You Sure want to delete this lead.
      <div style="margin-top: 100px;">
       <span style="margin:0 22px 0-12px;" class="btn yellow leadDeleteBtn">Delete</span>
       <span style="margin:0 22px 0-12px;" class="btn yellow cancelFancybox">Cancel</span>
     </div>
   </span>
 </div>
</div>

<div id="contactDetails" class="popup_container">
  <div id="showContact" class="small_popup">
    <img src="/assets/ajax-loader.gif" class="sm_loader_margin" />
  </div>
</div>

<div id="viewPopup" class="popup_container">
  <div id="myModal" class="modal" style="z-index:99999;">
    <img src="/assets/ajax-loader.gif" style="margin:35%" />
  </div>
</div>

<div id="deleteMallPopup" class="popup_container">
  <div style="font-size:20px;text-align:center;" id="dltmall" class="small_popup">
    <span style="font-weight:bold;">Are You Sure want to delete this Item.
      <div style="margin-top: 100px;">
        <span class="pop_yellow_btn mallBtn">Delete</span>
        <span class="cancelFancybox pop_yellow_btn">Cancel</span>
      </div>
    </span>
  </div>
</div>

<div id="editPlanPopup" class="popup_container">
  <div id="pedit" class="big_popup" style="height:auto">
    <img src="/assets/ajax-loader.gif" style="margin:35%" />
  </div>
</div>

<div id="vipseting" class="popup_container">
  <div id="vipsethtml" class="big_popup" style="height:auto">
    <%=render "company/vipsetting"%>
  </div>
</div>

<div id="socialinvitepopup" class="popup_container">
  <div id="socialinvitesel" class="big_popup" style="height:auto">
    <%=render "common_templates/socialinviteselect"%>
  </div>
</div>

<div id="hotmailContactsPopup" class="popup_container">
  <div id="hotmailcontacts" class="modal" style="z-index:99999;top:3%">
    <%=render "common_templates/hotmailemails"%>
  </div>
</div>


