  <div class="span4">
    <form class="form">
        <div class="border app_header">
            <h2 class="heading headmsg">Invite Contacts</h2>
            <div class="form pd15 leadform">
              <%if @contacts.present?%>
                <% @contacts.each do |contact| %>
                  <p>
                    <%=check_box_tag "freindId_#{contact.id}", 'yes', false, :class => 'gmailContactChekbox'%>
                    <label class="email_label"><%=contact.email%></label>
                    <label class=""><%=contact.name%></label>
                  </p>
                <%end%>
              <%end%>
              <input type="button" value="submit" class="sendReferralEmailBtn">
          </div>        
      </div>    
  </form>
</div>
