  <div class="span4" style="width:470px">
    <form class="form">
        <div class="border app_header">
            <h2 class="heading headmsg">Invite Contacts</h2>
            <div class="form pd15 leadform">
              <%if @contacts.present?%>
                <% @contacts.each do |contact| %>
                  <p>
                    <%=check_box_tag "freindId_#{contact.id}", 'yes', false, :class => 'gmailContactChekbox'%>
                    <label class="email_label" style="width:48%;"><%=contact.email%></label>
                    <label class="" style="width:48%;"><%=contact.name%></label>
                  </p>
                <%end%>
              <%end%>
              <p class="sendReferralEmailBtn"><a class="btn yellow" href="javascript:void(0)">Send Invitations</a></p>
          </div>        
      </div>    
  </form>
</div>
