<div style="position:relative;height:350px;width:400px;padding: 0px 30px;">
	<h3>Setup Your Account</h3>
	<div class="process_steps">
		<div class="stepNo1 step-title btn btn-success step-active"> <span class="step-order"></span> <span class="step-name">Step 1</span></div>
		<div class="stepNo2 step-title  btn"><span class="step-order"></span> <span class="step-name">Step 2</span></div>
		<div class="stepNo3 step-title  btn"><span class="step-order"></span> <span class="step-name">Step 3</span></div>
	</div>
	<span class="user_profile">
		<%=render "common_templates/wizard_step3"%>
	</span>
	<%#=render "common_templates/profile_pic"%>
	<%#=render "common_templates/wizard_step3"%>
</div>