
<div class="span4 margin_width" style="text-align:left;">    
    <div>
        <div class="border">
            <h2 class="heading headmsg">Social Referring</h2>
            <div class="form pd15">
                <p>
                    <label>Choose Your Email Provider </label>
                    <%=select_tag "inviter_select", options_for_select([["Gmail","gmail"],["Yahoo","yahoo"],["Hotmail","Hotmail"],["Msn","Msn"],["Outlook","Outlook"]]),:prompt => "Select Inviter",:style=>"width:200px;margin:10px 0 10px 0;" %>
                </p>
                <p class="inviter-container">
                    
                </p>
                <div class="clear"></div>
            </div>        
        </div> 
    </div>        
</div>