<span style="font-weight:bold;">
	<%if current_user.isCompany%>
		Are You Sure want to upgrade your current plan.
		<div style="margin-top: 100px;">
		<%=link_to "Upgrade", new_plan_path(:maxUsers => @upgrade_user), :class=>"pop_yellow_btn"%>
		<span class="pop_yellow_btn cancelFancybox">Cancel</span>
	</div>
	<%else%>
		You are not authorize for directly upgrade your plan. 
		Ask your admin for upgrade plan.
		<div style="margin-top: 100px;">
			<span class="pop_yellow_btn plan_upg_mail">Send Request</span>
			<span class="pop_yellow_btn cancelFancybox">Cancel</span>
		</div>
	<%end%>
</span>