
<div class="modal-header">
        <button type="button" class="close cancelFancybox" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h3>User</h3>
    </div>
    <div class="modal-body">
        <table class="table table-striped">
            <!-- <thead>
                <tr><td>#</td><td>Name</td><td>Email</td></tr>
            </thead> -->
            <tbody>
                <tr><td>Name</td><td>-</td><td><%=@user.name%></td></tr>
                <tr><td>Email</td><td>-</td><td><%=@user.email%></td></tr>
                <tr><td>Status</td><td>-</td><td><%=@user.active ? 'Active' : 'Inactive'%></td></tr>
                <tr><td></td><td></td><td></td></tr>
                <tr><td></td><td></td><td></td></tr>
            </tbody>
        </table>
    </div>
    <div class="modal-footer">
        <a href="javascript:void(0)" class="btn yellow cancelFancybox">Done</a>
        <!-- <a href="javascript:void(0)" data-dismiss="modal" class="btn yellow cancelFancybox">Cancel</a> -->
    </div>