<div class="step_main_col new_step">
	<div class="step_wise_col step_1">
  	<span class="step_circle step_active"><span >1</span></span>
      <div class="step_txt">
 			<h3>STEP 1</h3>
			<p>Choose VIPs</p>
      </div>
  </div>
  
  <div class="step_wise_col step_2">
  	<span class="step_circle"><span>2</span></span>
 		<div class="step_txt">
 		<h3>STEP 2</h3>
		<p>Select Preferred<br /> Guests</p>
      </div>
  </div>
  
  <div class="step_wise_col step_3">
  	<span class="step_circle"><span>3</span></span>
 		<div class="step_txt">
 		<h3>STEP 3</h3>
		<p>Send Invites to <br />Preferred Guests</p>
      </div>
  </div>
</div>