<div id="footer">
    <div id="subfooter">
        <div class="full">
        </div>
    </div>
    <div id="mainfooter">
        <div class="footer">
            <div class="container">
                <div class="row-fluid">
                    <div class="fr span12">
                        <ul class="fr footer-nav">
                            <li><a href="#">Term & Conditions</a></li>
                            <li><a href="#">Privacy</a></li>
                            <li><a href="#">Security</a></li>
                        </ul>
                    </div>
                </div>
            </div>


            <div class="container text-center">
                <p class="copyrights">@2013 LEAD<span class="txt_red">PUMP</span><span class="superscript">TM</span></p>
            </div>
        </div>
    </div>
    

    <div class="clear"></div>
</div>