<header class="guest_header">
  <div class="container">
    <h2 class="fl">
      
    </h2>
    <ul class="pull-left punchline" style="left:86%;">
      
    </ul>
    <ul class="fr usernav">
        <li class="selected">
          <%=link_to  'Dashboard', dashboard_path %>
        </li>
    </ul>
    <div class="clear"></div>    
  </div>
</header>