<!DOCTYPE html>
<html>
<head>
  <title>Leadpump</title>
    <%= stylesheet_link_tag  "index_css", "jquery-ui-1.10.3.custom.min.css",'table_css/main.css','table_css/reset.css', 'jquery.fancybox.css', :media => "all" %>
   <%= javascript_include_tag 'application','autocomplete-rails.js', 'rails.js','subscriptions.js.coffee','autocomplete.js.coffee','signup' %>
   <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
   <%= tag :meta, :name => 'viewport', :content => "width=device-width, initial-scale=1.0" %>
   <%= tag :meta, :name => 'stripe-key', :content => STRIPE_PUBLIC_KEY %>
   <%= tag :meta, :name => 'viewport', :content => "width=device-width, initial-scale=1.0" %>
</head>
<body>
	<script type="text/javascript">
      emailAuth = '<%=@emailAuth %>';
      tokend = '<%=@token%>';
  </script>
  <%= yield %>
</body>
</html>